workflows/3miwV9wdKjrx8Gmr_AI新聞擷取翻譯工作流.json
{
  "createdAt": "2025-10-27T05:57:53.778Z",
  "updatedAt": "2025-11-06T06:46:06.000Z",
  "id": "3miwV9wdKjrx8Gmr",
  "name": "AI新聞擷取&翻譯工作流",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "## I'm a note \n**川普TruthSocial** \n**CNN**✅\n**Fox News**\n**New York Times**\n**Bloomberg**\n**Wall Street Journal**\n**Washington Post**\n**Political**\n**BBC**✅",
        "height": 240,
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -384,
        -192
      ],
      "id": "651e5c1b-d5ba-4d88-87a1-2b5df8fa1313",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f5e3c4a-1b2d-4e9f-a3c6-7d8e9f0a1b2c",
              "name": "url",
              "value": "={{ $json.sourceUrl }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b81a4f13-9f6f-46d5-9768-af02dadfa87d",
      "name": "設定新聞 URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        432,
        368
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        }
      },
      "id": "01131edf-718a-4921-bc72-bfeabb1925f7",
      "name": "抓取網頁內容",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        656,
        368
      ]
    },
    {
      "parameters": {
        "jsCode": "// 清理 HTML，只保留主要內容\nconst html = $input.item.json.data || '';\n\n// 移除 script, style, nav, footer 等無關標籤\nlet cleaned = html\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<nav[\\s\\S]*?<\\/nav>/gi, '')\n  .replace(/<header[\\s\\S]*?<\\/header>/gi, '')\n  .replace(/<footer[\\s\\S]*?<\\/footer>/gi, '')\n  .replace(/<aside[\\s\\S]*?<\\/aside>/gi, '')\n  .replace(/<iframe[\\s\\S]*?<\\/iframe>/gi, '')\n  .replace(/<!--[\\s\\S]*?-->/g, '')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\n// 限制長度，避免 token 過多（約 3000 tokens = 12000 字元）\ncleaned = cleaned.substring(0, 12000);\n\nreturn {\n  json: {\n    cleanedContent: cleaned,\n    url: $input.item.json.url\n  }\n};"
      },
      "id": "19a2bd0d-f79a-498a-8e98-31db762e0b99",
      "name": "清理 HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        368
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1584,
        656
      ],
      "id": "2922b18d-2e47-40ee-816f-a706ae0b8669",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "TcbdbxzebK9gSKPI",
          "name": "Google Gemini(PaLM) Api account 6"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"title\": \"翻譯後的繁體中文標題\",\n  \"content\": \"<p>第一段內容</p><p>第二段內容</p><p>第三段內容</p>\",\n  \"tags\": [\"關鍵字1\", \"關鍵字2\", \"關鍵字3\"]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1728,
        576
      ],
      "id": "b87b4952-68cb-4a31-b5ec-6fe876cfd9c7",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -608,
        368
      ],
      "id": "f11c34d4-c044-4049-a266-eb84dbb5a3ad",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=你是一位台灣國際新聞翻譯專員，請執行以下兩個任務\n1. 使用台灣用語翻譯以下內容\n2. 從內容精選3~7個適合的新聞關鍵字(tags)\n\n標題：{{ $json.output.title }}\n內容：{{ $json.output.content }}\n\n## 翻譯對照表\n\n### 政治人物音譯\n- Vladimir Putin -> 普丁\n- Donald Trump -> 川普\n- Viktor Orbán -> 歐爾班\n- Marco Rubio -> 盧比歐\n- Benjamin Netanyahu -> 納坦雅胡\n- Volodymyr Zelenskyy -> 澤連斯基\n- Pete Hegseth -> 海格塞斯\n- John F. Kennedy -> 甘迺迪\n- Ronald Reagan -> 雷根\n- Jake Sullivan -> 蘇利文\n- Olaf Scholz -> 蕭茲\n- Justin Trudeau -> 杜魯道\n- Marcos (菲律賓) -> 馬可仕\n\n### 地名音譯\n- North Korea/朝鮮 -> 北韓\n- Gaza -> 加薩\n- Sydney -> 雪梨\n- Munich -> 慕尼黑\n- New Zealand -> 紐西蘭\n- Saudi Arabia -> 沙烏地阿拉伯\n- Dubai -> 杜拜\n- Yemen -> 葉門\n\n### 交通與運輸\n- 出租車/的士 -> 計程車\n- 集裝箱 -> 貨櫃\n- 空客 -> 空巴\n\n### 科技與網路用語\n- 視頻 -> 影片\n- 互聯網/網絡 -> 網路\n- 軟件 -> 軟體\n- 硬件 -> 硬體\n- 計算機 -> 電腦\n- 內存 -> 記憶體\n- 激光 -> 雷射\n- 光伏 -> 光電/太陽能\n- 程序 -> 程式\n- 帖子 -> 貼文\n- 樓主 -> 原發文者\n- 硅 -> 矽\n- 芯片 -> 晶片\n- 黑客 -> 駭客\n- 屏幕 -> 螢幕\n- 高清 -> 高畫質\n- 攝像頭 -> 監視器\n- 短信 -> 簡訊\n\n### 軍事與政府\n- 台防務部門 -> 國防部\n- 五角大樓 -> 五角大廈\n- 宙斯盾 -> 神盾系統\n- 空間站 -> 太空站\n- 黑匣子 -> 黑盒子\n\n### 教育與職業\n- 高校 -> 大學\n- 幼兒園 -> 幼稚園\n- 程序員 -> 工程師\n- 寫字樓 -> 辦公大樓\n- 下崗 -> 沒工作\n\n### 商業與法律用語\n- 合同 -> 合約\n- 渠道 -> 管道\n- 反饋 -> 回饋\n- 靠譜 -> 可靠\n\n### 日常用語\n- 萬億 -> 兆\n- 水平 -> 水準\n- 小區 -> 社區\n- 套路 -> 圈套\n- 給力 -> 厲害\n- 土豆 -> 馬鈴薯\n- 獼猴桃 -> 奇異果\n- 西紅柿 -> 番茄\n- 獻血 -> 捐血\n- 方便麵 -> 泡麵\n- 立馬 -> 立刻\n- 通過 -> 經由\n\n### 品牌與專有名詞\n- 奔馳 -> 賓士\n- 新聞發布會 -> 記者會\n- 宇航員 -> 太空人\n- 發動機 -> 引擎\n- 國際象棋 -> 西洋棋\n\n### 特殊用語\n- 導火索 -> 導火線\n- 河蟹 -> 掩蓋\n- 可卡因 -> 古柯鹼\n\n## 輸出要求\n- 回傳 JSON 格式\n- 照著原意翻譯\n- 可微調段落格式符合中文新聞\n- 避免使用簡體中文用詞\n- 不用分 section\n- content 段落使用 <p></p>\n\n## 翻譯原則\n- 人名第一次出現時保留英文原名，例如：「美國國務卿布林肯（Antony Blinken）」\n- 數字使用阿拉伯數字，金額加上單位（例如：100萬美元、50億元）\n- 引述內容使用「」（全形引號）\n- 日期格式：2025年10月28日\n\n## 務必確認\n- 用詞為台灣慣用字\n- 標點符號使用全形(，。！？)\n- tags 需為文中有提及的字詞\n- 避免過度口語化",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1552,
        352
      ],
      "id": "ad1f9914-b541-4f5a-a957-333049c2129b",
      "name": "翻譯"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "ytHc5KKgyhAvAwaX",
          "mode": "list",
          "cachedResultName": "world_news",
          "cachedResultUrl": "/projects/iZydbwsMPJYYjvth/datatables/ytHc5KKgyhAvAwaX"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "title",
              "condition": "isEmpty"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -336,
        368
      ],
      "id": "493ab36a-d17d-4f61-b9a6-b6859ff8ccb8",
      "name": "Get row(s)"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        224,
        368
      ],
      "id": "e8a23728-adf5-4d10-94ce-ae7841e24427",
      "name": "Limit"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "\n{\n\"title\":\"英文原標題\",\n\"content\":\"英文原內文\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1232,
        688
      ],
      "id": "6c518780-b9ca-4112-add9-6d2bf953a9aa",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=你是一位英文新聞翻譯專員，請執行以任務\n1. 解析出該篇新聞的標題和內容原文\n{{ $json.cleanedContent }}\n\n## 務必回傳以下josn格式\n\n{\n\"title\":\"英文原標題\",\n\"content\":\"英文原內文\"\n}\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1072,
        368
      ],
      "id": "92776997-9b98-42fa-ba7b-a66d01e1ad01",
      "name": "claude解析",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-5-20250929",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {
          "maxTokensToSample": 4096,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1024,
        688
      ],
      "id": "01eaea07-d7dc-4ec2-b37c-9b1016ccd1e6",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "EWWpHFYEOSVfQr1r",
          "name": "Anthropic account 2 _ Newtalk"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "960b3936-c2ea-4130-a503-5dfe96d35bd2",
              "leftValue": "={{ $json.category }}",
              "rightValue": "政治",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "fa370378-3771-4044-9fcf-78f034f2b09a",
              "leftValue": "={{ $json.category }}",
              "rightValue": "財經",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "b8f90ec0-802a-41b3-af8f-b857fd6f557d",
              "leftValue": "={{ $json.category }}",
              "rightValue": "科技",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -32,
        368
      ],
      "id": "1e416c28-2616-4470-bd9b-3da8cb1fa8f0",
      "name": "Filter"
    },
    {
      "parameters": {
        "content": "## 取得RSS資料",
        "height": 304,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -400,
        192
      ],
      "id": "b4ce83c5-426d-43d9-987a-ed9123779a1f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 篩選特定類別\n- 政治\n- 財經\n- 科技",
        "height": 304,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -96,
        192
      ],
      "id": "271c5ceb-7b8e-4341-9b61-874c7470b2dd",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dev88.newtalk.tw/newsapi/insertNews",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"token\": \"61af9f535f694a56912a7ea660b01a7e8369b74cfac3199667dc82946f5d1e5c\",\n    \"datas\": [\n        {\n            \"title\": \"{{ $('翻譯').item.json.output.title }}\",\n            \"content\": \"{{ $('翻譯').item.json.output.content }}\",\n            \"categoryId\": {{ $json.output.categoryId }},\n            \"publishTime\": \"{{ $('Limit').item.json.publishTime }}\",\n            \"tags\": \"{{ $('翻譯').item.json.output.tags }}\",\n            \"newsSourceId\": 7,\n            \"source\": \"{{ $('Limit').item.json.source }}\",\n            \"sourceUrl\": \"{{ $('Limit').item.json.sourceUrl }}\",\n            \"originTitle\": \"{{ $json.output.title }}\",\n            \"originContent\": \"{{ $json.output.content }}\"\n        }\n    ]\n}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2336,
        352
      ],
      "id": "4fc59280-e6cf-421b-b7f4-02a0ce9cec6a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// 取得 claude解析 節點的輸出資料\nconst claudeData = $('claude解析').item.json;\nconst output = claudeData.output;\n\n// 取得 Limit 節點的 category\nconst limitData = $('Limit').item.json;\n\n// 定義類別對應表\nconst categoryMap = {\n  '政治': '2',\n  '財經': '3',\n  '科技': '8'\n};\n\n// 轉換 category 為 categoryId\nconst categoryId = categoryMap[limitData.category] || null;\n\nreturn {\n  json: {\n    output: {\n      title: output.title ? output.title.replaceAll('\"', \"'\") : output.title,\n      content: output.content ? output.content.replaceAll('\"', \"'\") : output.content,\n      tags: output.tags ? output.tags.replaceAll('\"', \"'\") : output.tags,\n      categoryId: categoryId\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        352
      ],
      "id": "72aefec0-9bed-4a19-91a0-b07872f23ec7",
      "name": "引號置換"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "ytHc5KKgyhAvAwaX",
          "mode": "list",
          "cachedResultName": "world_news",
          "cachedResultUrl": "/projects/iZydbwsMPJYYjvth/datatables/ytHc5KKgyhAvAwaX"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Limit').item.json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "isTranslate": true,
            "title": "={{ $('翻譯').item.json.output.title }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "originTitle",
              "displayName": "originTitle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "originContent",
              "displayName": "originContent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "categoryId",
              "displayName": "categoryId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "sourceUrl",
              "displayName": "sourceUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "publishTime",
              "displayName": "publishTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "isTranslate",
              "displayName": "isTranslate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        2816,
        288
      ],
      "id": "f3417b72-18f1-4dec-b408-170e92ad356a",
      "name": "翻譯成功"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3f2f786e-7d3f-48e2-85cc-8f66cd30ad99",
              "leftValue": "={{ $json.isSuccess }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2544,
        352
      ],
      "id": "91f4615f-709f-4b97-81a2-6b4142cf72e8",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "ytHc5KKgyhAvAwaX",
          "mode": "list",
          "cachedResultName": "world_news",
          "cachedResultUrl": "/projects/iZydbwsMPJYYjvth/datatables/ytHc5KKgyhAvAwaX"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Limit').item.json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "isTranslate": false,
            "title": "={{ $('翻譯').item.json.output.title }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "originTitle",
              "displayName": "originTitle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "originContent",
              "displayName": "originContent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "categoryId",
              "displayName": "categoryId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "sourceUrl",
              "displayName": "sourceUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "publishTime",
              "displayName": "publishTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "isTranslate",
              "displayName": "isTranslate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        2816,
        480
      ],
      "id": "1f0d3da0-e864-4a11-8cf6-88890975796c",
      "name": "翻譯失敗"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "ytHc5KKgyhAvAwaX",
          "mode": "list",
          "cachedResultName": "world_news",
          "cachedResultUrl": "/projects/iZydbwsMPJYYjvth/datatables/ytHc5KKgyhAvAwaX"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Limit').item.json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "isTranslate": false
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "originTitle",
              "displayName": "originTitle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "originContent",
              "displayName": "originContent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "categoryId",
              "displayName": "categoryId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "sourceUrl",
              "displayName": "sourceUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "publishTime",
              "displayName": "publishTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "isTranslate",
              "displayName": "isTranslate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1392,
        560
      ],
      "id": "27cd7f60-430d-4bd5-bb91-55bd5b83db7c",
      "name": "解析失敗"
    }
  ],
  "connections": {
    "設定新聞 URL": {
      "main": [
        [
          {
            "node": "抓取網頁內容",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "抓取網頁內容": {
      "main": [
        [
          {
            "node": "清理 HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "清理 HTML": {
      "main": [
        [
          {
            "node": "claude解析",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "翻譯",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "翻譯",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "翻譯": {
      "main": [
        [
          {
            "node": "引號置換",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "設定新聞 URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "claude解析",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "claude解析": {
      "main": [
        [
          {
            "node": "翻譯",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "解析失敗",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "claude解析",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "引號置換": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "翻譯成功",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "翻譯失敗",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "翻譯": [
      {
        "json": {
          "output": {
            "tags": [
              "川普",
              "民主黨",
              "美國選舉",
              "期中選舉",
              "選區重劃",
              "州長選舉",
              "反川普情緒"
            ],
            "content": "<p>美國東岸各地的選民在週二的選舉中，讓民主黨大獲全勝，他們選出了該黨意識形態光譜上各個派系的候選人，鮮明地展現了對總統川普（Donald Trump）在其第二任期即將屆滿一年之際的不滿。</p><p>在維吉尼亞州，溫和派前眾議員艾碧潔·史班伯格（Abigail Spanberger）輕鬆獲勝，創下該州近期歷史上民主黨最亮眼的表現。而在紐澤西州，另一位溫和派眾議員米琪·雪瑞兒（Mikie Sherrill）則瓦解了川普與她的共和黨對手、前州議員傑克·齊亞塔瑞利（Jack Ciattarelli）為了彌補紐澤西州近期選舉差距所組成的聯盟。</p><p>在紐約市，民主社會主義者卓朗·曼丹尼（Zohran Mamdani）的勝利標誌著他今年第二次擊敗前州長安德魯·古莫（Andrew Cuomo）——首先是在民主黨初選中，接著是在大選中，古莫當時是以川普支持的獨立候選人身份參選。</p><p>儘管獲勝的民主黨候選人之間存在鮮明的意識形態差異，但這些勝利對於解決該黨長期以來關於未來發展方向的激烈內部辯論，助益甚微。未來幾個月內將有多場競爭激烈的期中選舉初選，而2028年總統大選初選也已迫在眉睫。</p><p>然而，他們的競選活動也有一些共同點。儘管提出的解決方案不同，但這些候選人都將重點放在「負擔能力」議題上。同時，他們都猛烈抨擊川普的施政表現。</p><p>紐約州眾議員亞歷珊卓雅·歐加修-寇蒂茲（Alexandria Ocasio-Cortez）在曼丹尼的勝選派對上接受美國有線電視新聞網（CNN）採訪時表示：「這不僅是關於民主黨的訊息；這是關於我們整個國家的訊息。我認為美國人對這屆政府的作為感到震驚。」</p><p>在加州，選民以大幅優勢通過了一項選區重劃公投案，旨在提升民主黨在明年眾議院控制權爭奪戰中的勝算。而在賓州，民主黨州最高法院法官成功連任，使民主黨得以在這個長期搖擺州維持其在高等法院的多數席次，此地對於投票規則的法律挑戰幾乎是屢見不鮮。</p><p>以下是週二選舉的六個初步觀察重點：</p><p><b>曼丹尼再次擊敗古莫</b></p><p>曼丹尼因其進步主義意識形態以及吸引渴望新面孔的選民而獲得了巨大的全國關注。但在紐約市，他不斷強調降低生活成本的努力可能更具說服力——選民也透過批准一系列旨在減少興建可負擔住宅繁文縟節的公投案，為他即將推動的政策提供助力。</p><p>如果他兌現承諾，紐約市將成為全國各地生活成本飆升城市的發展藍圖。如果曼丹尼失敗，隨著2028年總統大選初選的臨近，他可能會被用作對廣泛進步主義者的警告。</p><p>對於在2021年辭去州長職位後試圖東山再起的古莫而言，這次結果令人尷尬。這對川普也是一次失敗，他在此次選舉後期支持古莫而非共和黨人柯提斯·史利瓦（Curtis Sliwa），並在週日美國哥倫比亞廣播公司（CBS）的節目《60分鐘》中表示：「如果要在一個糟糕的民主黨人和一個共產黨人之間做選擇，我會一直選擇那個糟糕的民主黨人。」</p><p><b>郊區選情大擺盪</b></p><p>民主黨週二在維吉尼亞州獲得的第一個大勝，是史班伯格（Spanberger）擊敗共和黨副州長溫瑟姆·厄爾-席爾斯（Winsome Earle-Sears）。史班伯格曾是美國中央情報局（CIA）官員，於2018年贏得一個競爭激烈的國會選區，並一直任職到今年退休，專注於州長競選。</p><p>史班伯格主導地位的一個縮影體現在勞登郡（Loudoun County）——維吉尼亞州北部一個備受關注、由郊區和外圍郊區組成的地區。截至週二東部時間晚上9點，該地大部分預計選票已計算完成，史班伯格在那裡獲得了超過64%的選票。這比前副總統賀錦麗（Kamala Harris）在2024年總統大選中的表現高出8個百分點，也比該黨在2021年落選的州長候選人泰瑞·麥考利夫（Terry McAuliffe）高出9個百分點。史班伯格領先前州長雷夫·諾瑟姆（Ralph Northam）2017年在勞登郡的表現近5個百分點——那次是川普第一任期內民主黨的一大勝利，預示了該黨在2018年期中選舉的強勁表現。</p><p>史班伯格在維吉尼亞州各地表現優於近期其他民主黨候選人，部分原因可能歸咎於川普政府對聯邦政府員工的削減。數千名現任和前任聯邦政府員工居住在此地區。美國有線電視新聞網（CNN）的出口民調顯示，在家庭成員中有聯邦僱員或聯邦承包商的選民中，史班伯格獲得了61%的選票支持，而在沒有相關家庭成員的選民中，她的支持率為52%。</p><p>她的領先優勢足以將民主黨檢察總長候選人傑伊·瓊斯（Jay Jones）拉過終點線，儘管瓊斯曾因被揭露簡訊內容建議應射殺一名前立法同僚而陷入困境，並且落後史班伯格約5個百分點。瓊斯擊敗了共和黨現任傑森·米亞雷斯（Jason Miyares）。</p><p><b>維吉尼亞州打破藩籬</b></p><p>無論結果如何，維吉尼亞州的選舉都將創造歷史：獲勝者將成為該州首位女性州長。</p><p>史班伯格提到了這段歷史，她向支持者轉述，她的丈夫曾告訴他們的孩子，他們的媽媽將成為維吉尼亞州的州長。</p><p>她說：「我敢保證，這些話以前從未在維吉尼亞州被說過。這對我在競選期間遇到的女孩和年輕女性來說意義重大，她們現在可以確信自己能夠實現任何目標。」</p><p><b>紐澤西州揭示反川普情緒</b></p><p>在維吉尼亞州，候選人素質是影響結果的一個因素，因為共和黨人長達數月都在抱怨他們的候選人厄爾-席爾斯（Earle-Sears）。但紐澤西州的情況則不同。齊亞塔瑞利（Ciattarelli）在2021年州長選舉中險勝後，已擁有強勁的全州表現。他也有自己的「紐澤西人」魅力品牌，儘管獲得川普背書，齊亞塔瑞利也稱讚川普的施政表現，民主黨人仍透過不斷的廣告宣傳將他與川普連結，希望能在民主黨登記人數比共和黨多出80萬人的州，讓他與川普劃清界線。</p><p>在許多方面，這些現實使紐澤西州成為衡量反川普情緒的更好指標。一個關鍵問題是，齊亞塔瑞利能否複製川普在拉丁裔選民中的表現：去年11月，拉丁裔選民在全國範圍內大幅轉向共和黨，美國有線電視新聞網（CNN）的出口民調顯示，川普獲得拉丁裔選民46%的支持，而賀錦麗（Kamala Harris）則為51%。</p><p>但週二在紐澤西州，答案是否定的：根據美國有線電視新聞網（CNN）的出口民調，雪瑞兒（Sherrill）贏得了64%的拉丁裔選民支持，而齊亞塔瑞利則獲得32%。她還贏得了91%的非裔選民支持。在無黨籍選民中，她以7個百分點的優勢獲勝。溫和派選民也以58%對39%支持雪瑞兒。</p><p>在34%認為稅收是紐澤西州面臨最重要議題的選民中，齊亞塔瑞利輕鬆獲勝。但有32%的選民表示經濟是最重要的議題——共和黨曾希望這會成為他們的優勢，因為該州目前由民主黨控制——而這些選民則以61%對37%支持雪瑞兒，根據美國有線電視新聞網（CNN）的出口民調。</p><p><b>紐森的選區重劃關鍵時刻</b></p><p>加州選民在週二大幅提升了民主黨在明年期中選舉中贏得眾議院多數席次的希望——同時也為州長蓋文·紐森（Gavin Newsom）在全國舞台上創造了一個標誌性時刻，向民主黨選民證明他能在潛在的2028年總統競選前與川普抗衡。</p><p>該州選民批准了一項公投案，該案將廢除目前由獨立委員會劃定的國會選區界線，取而代之的是將為民主黨帶來五個更有利選區的新地圖。</p><p>這次十年中期的選區重劃，是紐森對德州的回應。德州在川普的要求下重劃選區，目的是為共和黨爭取五個更容易獲勝的選區，因為川普正在尋求明年如何維持共和黨在眾議院的微弱多數。</p><p>在投票前一場短暫但激烈的廣告戰中，紐森讓自己成為選區重劃努力的代表人物。他為此籌集了1.08億美元（約新台幣34.8億元），並出現在支持該議案的廣告中。他還在一系列採訪和播客節目中推銷這項計畫。</p><p>紐森站在美國國旗前，在一個廣告中說道：「有了第50號提案，也就是《選舉舞弊應對法案》，我們就能徹底阻止川普。」</p><p>未來幾年，全國觀眾可能會更頻繁地看到他。</p><p><b>地方層級民主黨獲勝</b></p><p>除了在維吉尼亞州、紐澤西州、紐約州和加州取得的關鍵勝利外，民主黨還贏得了許多較低調的競選，這些勝利在未來幾年可能會帶來好處。</p><p>在賓州，民主黨州最高法院法官成功連任，獲得新的10年任期——這維護了該黨在一個總統選舉勝敗關鍵，且投票規則經常受到挑戰的州中，於法院的多數地位。</p><p>週二的選舉也對全國選區重劃的軍備競賽產生了影響。民主黨有望擴大其在維吉尼亞州眾議院的微弱多數，為該黨推動一項允許他們重新劃定國會選區的憲法修正案鋪平道路。而在緬因州，一個明年參議院控制權爭奪戰的關鍵州，選民否決了一項要求選民出示附照片身份證明的公投案。</p>",
            "title": "週二選舉觀察重點：選民唾棄川普，民主黨各派系候選人全線勝選"
          }
        }
      }
    ]
  },
  "versionId": "e3b74f3e-a2a8-456b-b22c-b2f5bf28975f",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-10-27T05:57:53.781Z",
      "updatedAt": "2025-10-27T05:57:53.781Z",
      "role": "workflow:owner",
      "workflowId": "3miwV9wdKjrx8Gmr",
      "projectId": "iZydbwsMPJYYjvth",
      "project": {
        "createdAt": "2025-09-16T02:39:54.633Z",
        "updatedAt": "2025-09-16T02:43:19.908Z",
        "id": "iZydbwsMPJYYjvth",
        "name": "common web <web@wanin.tw>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-16T02:39:54.639Z",
            "updatedAt": "2025-09-16T02:39:54.639Z",
            "userId": "55f25be3-69cb-4a61-849e-09b3e6328043",
            "projectId": "iZydbwsMPJYYjvth",
            "user": {
              "createdAt": "2025-09-16T02:39:54.628Z",
              "updatedAt": "2025-11-06T01:55:21.000Z",
              "id": "55f25be3-69cb-4a61-849e-09b3e6328043",
              "email": "web@wanin.tw",
              "firstName": "common",
              "lastName": "web",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-16T02:43:24.324Z",
                "personalization_survey_n8n_version": "1.108.1"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "XN79dmNc8yPVm6XU",
                "userActivated": true,
                "userActivatedAt": 1758096117396,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1761544952978
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-11-05",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}