workflows/agEBdhhAdyhJVpjS_圖片存入RAG.json
{
  "createdAt": "2025-11-04T06:57:00.098Z",
  "updatedAt": "2025-11-11T08:58:54.000Z",
  "id": "agEBdhhAdyhJVpjS",
  "name": "圖片存入RAG",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "dataId": "={{ $('When clicking ‘Execute workflow’').item.json.id }}",
        "description": "={{ $json.output.description_en }}",
        "tags": "={{ $json.output.tags }}",
        "link": "={{ $('When clicking ‘Execute workflow’').item.json.newtalkUrl }}",
        "quality": "={{ $json.output.quality_score }}",
        "qdrantApiKey": "wanin24438615",
        "googleApiKey": "AIzaSyAkOGWgEtTP2bGaRKBFyrXbPLieQtFlVDs"
      },
      "type": "CUSTOM.qdrantUpsert",
      "typeVersion": 1,
      "position": [
        1152,
        16
      ],
      "id": "f4d48231-98ba-440d-8b58-0c97d4cb8d0a",
      "name": "Wanin RAG Upsert",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {
          "maxOutputTokens": 2048
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        464,
        320
      ],
      "id": "9f0b4c23-527d-493e-af6b-ca0319bcecc4",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "TcbdbxzebK9gSKPI",
          "name": "Google Gemini(PaLM) Api account 6"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "請用英文和繁體中文詳細描述這張圖片,包含:\n- 主要場景和主題\n- 重要人物或物體\n- 情境和氛圍\n- 可能適合搭配的新聞類型",
        "imageUrls": "={{ $('When clicking ‘Execute workflow’').item.json.newtalkUrl }}",
        "simplify": "",
        "options": {
          "maxOutputTokens": 5000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGeminiTool",
      "typeVersion": 1,
      "position": [
        640,
        320
      ],
      "id": "921be9e7-6255-468c-a415-7c27ad800412",
      "name": "Analyze an image in Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "TcbdbxzebK9gSKPI",
          "name": "Google Gemini(PaLM) Api account 6"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"description_en\": \"圖片描述\",\n\t\"description_zh\": \"圖片描述\",\n    \"tags\": \"tag1,tag2\",\n    \"quality_score\": 0.85\n} "
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        800,
        320
      ],
      "id": "d5464560-b020-42e8-8092-d42c3e2fd8e7",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        64,
        16
      ],
      "id": "b45ef2e9-13f6-4330-99bd-e647c82130e0",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "12k7b-4kU1dafqHkxrjm-gSAtSRE-oCu1oEVM6HiwXAs",
          "mode": "list",
          "cachedResultName": "圖片URL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12k7b-4kU1dafqHkxrjm-gSAtSRE-oCu1oEVM6HiwXAs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "URL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12k7b-4kU1dafqHkxrjm-gSAtSRE-oCu1oEVM6HiwXAs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.dataId }}",
            "isSaveRAG": "False"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "isSave",
              "displayName": "isSave",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "description_zh",
              "displayName": "description_zh",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "description_en",
              "displayName": "description_en",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tags",
              "displayName": "tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "quality_score",
              "displayName": "quality_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "newtalkUrl",
              "displayName": "newtalkUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "newtalkResizeUrl",
              "displayName": "newtalkResizeUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "isSaveRAG",
              "displayName": "isSaveRAG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1472,
        224
      ],
      "id": "c053840f-1ec0-4e86-97e3-90f658236209",
      "name": "Update row in sheet 存入RAG失敗",
      "credentials": {
        "googleApi": {
          "id": "iBwCenGPFzEiIQU1",
          "name": "Google Service Account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "12k7b-4kU1dafqHkxrjm-gSAtSRE-oCu1oEVM6HiwXAs",
          "mode": "list",
          "cachedResultName": "圖片URL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12k7b-4kU1dafqHkxrjm-gSAtSRE-oCu1oEVM6HiwXAs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "URL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12k7b-4kU1dafqHkxrjm-gSAtSRE-oCu1oEVM6HiwXAs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.dataId }}",
            "isSaveRAG": "True",
            "description_zh": "={{ $('圖片解析').item.json.output.description_zh }}",
            "description_en": "={{ $('圖片解析').item.json.output.description_en }}",
            "tags": "={{ $('圖片解析').item.json.output.tags }}",
            "quality_score": "={{ $json.quality }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "isSave",
              "displayName": "isSave",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "description_zh",
              "displayName": "description_zh",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "description_en",
              "displayName": "description_en",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tags",
              "displayName": "tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "quality_score",
              "displayName": "quality_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "newtalkUrl",
              "displayName": "newtalkUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "newtalkResizeUrl",
              "displayName": "newtalkResizeUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "isSaveRAG",
              "displayName": "isSaveRAG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1456,
        -64
      ],
      "id": "36bfd693-583c-4b82-97f5-ea574cc617dd",
      "name": "Update row in sheet 存入RAG成功",
      "credentials": {
        "googleApi": {
          "id": "iBwCenGPFzEiIQU1",
          "name": "Google Service Account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=請用利用圖片分析工具，使用英文和繁體中文詳細描述圖片包含:\n- 主要場景和主題\n- 重要人物或物體\n- 情境和氛圍\n- 可能適合搭配的新聞類型\n    \n## 執行四個任務\n1.提供一段英文描述，適用於RAG搜尋\n2.提供一段繁體中文描述，約50~100字，適用人工搜尋\n3.替照片產生中文標籤，可以做精準搜尋，至多10個\n4.品質評分 (0-1,單位0.05):\n   - 圖片清晰嗎?\n   - 解析度足夠嗎?\n   - 圖片有重點嗎?\n   - 畫面完整嗎(無浮水印/遮擋)?\n\n並以json格式回覆\n{   \n\t\"description_en\": \"圖片英文描述\",\n\t\"description_zh\": \"圖片繁體中文描述\",\n    \"tags\": \"tag1,tag2\",\n    \"quality_score\": 0.85\n} \n\n## 當解析不出圖片或圖片空白時，請直接回傳quality_score為0 ",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        576,
        16
      ],
      "id": "d5bc5cce-2b0d-447b-ab17-11f453480a5e",
      "name": "圖片解析"
    }
  ],
  "connections": {
    "Wanin RAG Upsert": {
      "main": [
        [
          {
            "node": "Update row in sheet 存入RAG成功",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row in sheet 存入RAG失敗",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "圖片解析",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image in Google Gemini": {
      "ai_tool": [
        [
          {
            "node": "圖片解析",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "圖片解析",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "圖片解析",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet 存入RAG成功": {
      "main": [
        []
      ]
    },
    "圖片解析": {
      "main": [
        [
          {
            "node": "Wanin RAG Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "292be02d-595d-4926-8fdb-b82ed1ee7d93",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-11-04T06:57:00.108Z",
      "updatedAt": "2025-11-04T06:57:00.108Z",
      "role": "workflow:owner",
      "workflowId": "agEBdhhAdyhJVpjS",
      "projectId": "iZydbwsMPJYYjvth",
      "project": {
        "createdAt": "2025-09-16T02:39:54.633Z",
        "updatedAt": "2025-09-16T02:43:19.908Z",
        "id": "iZydbwsMPJYYjvth",
        "name": "common web <web@wanin.tw>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-16T02:39:54.639Z",
            "updatedAt": "2025-09-16T02:39:54.639Z",
            "userId": "55f25be3-69cb-4a61-849e-09b3e6328043",
            "projectId": "iZydbwsMPJYYjvth",
            "user": {
              "createdAt": "2025-09-16T02:39:54.628Z",
              "updatedAt": "2025-11-11T05:07:55.000Z",
              "id": "55f25be3-69cb-4a61-849e-09b3e6328043",
              "email": "web@wanin.tw",
              "firstName": "common",
              "lastName": "web",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-16T02:43:24.324Z",
                "personalization_survey_n8n_version": "1.108.1"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "XN79dmNc8yPVm6XU",
                "userActivated": true,
                "userActivatedAt": 1758096117396,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1761544952978
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-11-11",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}