workflows/agEBdhhAdyhJVpjS_圖片存入RAG.json
{
  "createdAt": "2025-11-04T06:57:00.098Z",
  "updatedAt": "2025-11-11T04:23:52.000Z",
  "id": "agEBdhhAdyhJVpjS",
  "name": "圖片存入RAG",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "=請用英文和繁體中文詳細描述這張圖片,包含:\n- 主要場景和主題\n- 重要人物或物體\n- 情境和氛圍\n- 可能適合搭配的新聞類型\n    \n## 執行四個任務\n1.提供一段英文描述，適用於RAG搜尋\n2.提供一段繁體中文描述，約50~100字，適用人工搜尋\n3.替照片產生中文標籤，可以做精準搜尋，至多10個\n4.品質評分 (0-1,單位0.05):\n   - 圖片清晰嗎?\n   - 解析度足夠嗎?\n   - 圖片有重點嗎?\n   - 畫面完整嗎(無浮水印/遮擋)?\n\n並以json格式回覆\n{\n\t\"description_en\": \"圖片描述\",\n\t\"description_zh\": \"圖片描述\",\n    \"tags\": [\"tag1\",\"tag2\"],\n    \"quality_score\": 0.85\n} \n",
        "imageUrls": "={{ $json.URL }}",
        "options": {
          "maxOutputTokens": 4000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        736,
        0
      ],
      "id": "6adad9ae-ae97-4b50-b6a3-40ba8b73b0d5",
      "name": "Analyze an image",
      "credentials": {
        "googlePalmApi": {
          "id": "TcbdbxzebK9gSKPI",
          "name": "Google Gemini(PaLM) Api account 6"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "12k7b-4kU1dafqHkxrjm-gSAtSRE-oCu1oEVM6HiwXAs",
          "mode": "list",
          "cachedResultName": "圖片URL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12k7b-4kU1dafqHkxrjm-gSAtSRE-oCu1oEVM6HiwXAs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "工作表1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12k7b-4kU1dafqHkxrjm-gSAtSRE-oCu1oEVM6HiwXAs/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "isSave",
              "lookupValue": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        272,
        0
      ],
      "id": "2f2977d1-e0ee-456a-877b-7d02dea2dae8",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleApi": {
          "id": "WwIp2mkjzXCbuzFK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        480,
        0
      ],
      "id": "6a935910-b8a2-4bb8-b791-febf08bea6b6",
      "name": "Limit"
    },
    {
      "parameters": {
        "jsCode": "// 取得輸入資料\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  // 取得 Gemini 回應中的 text\n  let responseText = '';\n  \n  if (Array.isArray(data)) {\n    // 如果是陣列,取第一個元素\n    responseText = data[0]?.content?.parts?.[0]?.text || '';\n  } else if (data.content) {\n    // 如果直接是物件\n    responseText = data.content?.parts?.[0]?.text || '';\n  }\n  \n  // 清理 markdown 的 ```json 和 ``` 標記\n  responseText = responseText\n    .replace(/```json\\n?/g, '')\n    .replace(/```\\n?/g, '')\n    .trim();\n  \n  try {\n    // 解析 JSON\n    const parsed = JSON.parse(responseText);\n    \n    // 處理 tags (保持陣列格式或轉成字串,依需求選擇)\n    let tagsArray = [];\n    let tagsString = '';\n    \n    if (Array.isArray(parsed.tags)) {\n      tagsArray = parsed.tags;\n      tagsString = parsed.tags.join(', ');\n    } else if (typeof parsed.tags === 'string') {\n      tagsString = parsed.tags;\n      tagsArray = parsed.tags.split(',').map(tag => tag.trim());\n    }\n    \n    results.push({\n      json: {\n        description_en: parsed.description_en || '',\n        description_zh: parsed.description_zh || '',\n        tags: tagsArray,  // 陣列格式\n        quality_score: parsed.quality_score || 0\n      }\n    });\n    \n  } catch (error) {\n    // 如果解析失敗,回傳錯誤資訊\n    results.push({\n      json: {\n        error: error.message,\n        rawResponse: responseText.substring(0, 500) // 顯示前500字元方便除錯\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        0
      ],
      "id": "a1e24999-b2d5-48fa-8429-600b34c44e6b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        32,
        0
      ],
      "id": "38f624ec-b33e-450f-a82a-201c9a0b9749",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "12k7b-4kU1dafqHkxrjm-gSAtSRE-oCu1oEVM6HiwXAs",
          "mode": "list",
          "cachedResultName": "圖片URL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12k7b-4kU1dafqHkxrjm-gSAtSRE-oCu1oEVM6HiwXAs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "URL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12k7b-4kU1dafqHkxrjm-gSAtSRE-oCu1oEVM6HiwXAs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Limit').item.json.row_number }}",
            "isSave": "true",
            "description_zh": "={{ $json.description_zh }}",
            "description_en": "={{ $json.description_en }}",
            "tags": "={{ $json.tags }}",
            "quality_score": "={{ $json.quality_score }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "isSave",
              "displayName": "isSave",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "description_zh",
              "displayName": "description_zh",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "description_en",
              "displayName": "description_en",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tags",
              "displayName": "tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "quality_score",
              "displayName": "quality_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1392,
        0
      ],
      "id": "36bfd693-583c-4b82-97f5-ea574cc617dd",
      "name": "Update row in sheet",
      "credentials": {
        "googleApi": {
          "id": "WwIp2mkjzXCbuzFK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "CUSTOM.qdrantUpsert",
      "typeVersion": 1,
      "position": [
        1152,
        336
      ],
      "id": "f4d48231-98ba-440d-8b58-0c97d4cb8d0a",
      "name": "Wanin RAG Upsert",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        608,
        224
      ],
      "id": "d5bc5cce-2b0d-447b-ab17-11f453480a5e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        480,
        432
      ],
      "id": "9f0b4c23-527d-493e-af6b-ca0319bcecc4",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "TcbdbxzebK9gSKPI",
          "name": "Google Gemini(PaLM) Api account 6"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGeminiTool",
      "typeVersion": 1,
      "position": [
        768,
        432
      ],
      "id": "921be9e7-6255-468c-a415-7c27ad800412",
      "name": "Analyze an image in Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "TcbdbxzebK9gSKPI",
          "name": "Google Gemini(PaLM) Api account 6"
        }
      }
    }
  ],
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wanin RAG Upsert": {
      "main": [
        []
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image in Google Gemini": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "82f83d32-d9d5-42a4-809e-41ed942d68da",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-11-04T06:57:00.108Z",
      "updatedAt": "2025-11-04T06:57:00.108Z",
      "role": "workflow:owner",
      "workflowId": "agEBdhhAdyhJVpjS",
      "projectId": "iZydbwsMPJYYjvth",
      "project": {
        "createdAt": "2025-09-16T02:39:54.633Z",
        "updatedAt": "2025-09-16T02:43:19.908Z",
        "id": "iZydbwsMPJYYjvth",
        "name": "common web <web@wanin.tw>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-16T02:39:54.639Z",
            "updatedAt": "2025-09-16T02:39:54.639Z",
            "userId": "55f25be3-69cb-4a61-849e-09b3e6328043",
            "projectId": "iZydbwsMPJYYjvth",
            "user": {
              "createdAt": "2025-09-16T02:39:54.628Z",
              "updatedAt": "2025-11-11T04:01:33.000Z",
              "id": "55f25be3-69cb-4a61-849e-09b3e6328043",
              "email": "web@wanin.tw",
              "firstName": "common",
              "lastName": "web",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-16T02:43:24.324Z",
                "personalization_survey_n8n_version": "1.108.1"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "XN79dmNc8yPVm6XU",
                "userActivated": true,
                "userActivatedAt": 1758096117396,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1761544952978
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-11-10",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}