workflows/NIBlXZZAbRihgQTV_MCP 示範工作流程.json
{
  "createdAt": "2025-07-21T02:16:36.562Z",
  "updatedAt": "2025-08-06T02:45:41.000Z",
  "id": "NIBlXZZAbRihgQTV",
  "name": "MCP 示範工作流程",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        200,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "mcp-demo",
        "responseMode": "onReceived"
      }
    },
    {
      "id": "data-processor",
      "name": "處理資料",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        300
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "message",
              "name": "processed_message",
              "value": "=已處理：{{ $json.body.message || 'Hello from MCP!' }}",
              "type": "string"
            },
            {
              "id": "source",
              "name": "source",
              "value": "n8n-mcp-demo",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "http-request",
      "name": "發送到 HTTPBin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        300
      ],
      "parameters": {
        "url": "https://httpbin.org/post",
        "method": "POST",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ JSON.stringify($json) }}"
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "處理資料",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "處理資料": {
      "main": [
        [
          {
            "node": "發送到 HTTPBin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "021facc1-0df9-4bf4-b982-ceec6975a40e",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-07-21T02:16:36.573Z",
      "updatedAt": "2025-07-21T02:16:36.573Z",
      "role": "workflow:owner",
      "workflowId": "NIBlXZZAbRihgQTV",
      "projectId": "7zEhqNTzyMiFsXF6",
      "project": {
        "createdAt": "2025-07-09T03:38:25.411Z",
        "updatedAt": "2025-07-09T03:39:14.390Z",
        "id": "7zEhqNTzyMiFsXF6",
        "name": "jun yeh <jungu.ye@wanin.tw>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-07-09T03:38:25.416Z",
            "updatedAt": "2025-07-09T03:38:25.416Z",
            "userId": "d1b2f434-11f0-4091-b631-2379b0470044",
            "projectId": "7zEhqNTzyMiFsXF6",
            "user": {
              "createdAt": "2025-07-09T03:38:25.408Z",
              "updatedAt": "2025-10-31T09:17:04.851Z",
              "id": "d1b2f434-11f0-4091-b631-2379b0470044",
              "email": "jungu.ye@wanin.tw",
              "firstName": "jun",
              "lastName": "yeh",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-07-09T03:39:17.136Z",
                "personalization_survey_n8n_version": "1.102.0"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "YAUQSrZhZ8qeZ9DB",
                "userActivated": true,
                "userActivatedAt": 1761902117305
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-10-31",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}