workflows/PIlDaaGPPXFnwfJL_gpt-image-1生成類4o風格圖片.json
{
  "createdAt": "2025-08-09T11:06:33.805Z",
  "updatedAt": "2025-08-09T13:54:33.000Z",
  "id": "PIlDaaGPPXFnwfJL",
  "name": "gpt-image-1生成類4o風格圖片",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "b64_json",
        "options": {}
      },
      "id": "d13311dc-e64e-4b2d-b536-05f5a07ba379",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        -752,
        176
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2a5d52c2-5af1-4796-acba-4e1807fc7d7b",
              "name": "image_prompt",
              "type": "string",
              "value": "=Create a kawaii Japanese-style chibi illustration with a clean, smooth, and soft look, inspired by a thunderstorm warning in Taiwan.Main subject: A cute chibi-style Formosan black bear wearing a soft pastel yellow raincoat, holding a small umbrella being blown by the wind. The bear dominates over 70% of the frame and has a highly expressive, overly cute surprised expression with big sparkling eyes, a slightly open mouth, and a small nose. Keep the bear’s face and key features crisp, clear, and expressive, with no extra stylization or realism beyond a soft chibi look. The edges of the main subject must be perfectly smooth and clean, with no jagged lines, no irregular thickness, and no color bleeding — edges should be sharp and precise while still blending naturally into the scene. The head and body must connect seamlessly with no visible gap or separation; the raincoat hood should follow the curve of the head and blend smoothly into the shoulders, with soft natural shadow under the chin for a natural transition.Scene & background: Stormy blue-grey gradient skies with soft glowing lightning and gentle rain. Three mischievous cumulonimbus clouds float above, expressing playful but dangerous faces. Include faint, softened silhouettes of Taipei 101 and a curved temple roof in the background. Keep all background elements lightly blurred and desaturated for depth without distracting from the main subject.Art style: Thin refined outlines, soft yet well-defined edges, very soft pastel colors with muted tones, low saturation, soft ambient lighting, minimal shadow contrast. Completely flat clean coloring with ultra-smooth gradient transitions, no visible brush strokes, no texture, and no grain — like a high-quality modern Japanese children's picture book illustration.Framing: Mid-to-close view focusing on the bear’s expression and interaction with the clouds while maintaining simple, clear environmental storytelling.No text in the image. 1:1 aspect ratio."
            },
            {
              "id": "c41a8091-d952-4f5a-ae24-3b0691bbce57",
              "name": "number_of_images",
              "type": "number",
              "value": 2
            },
            {
              "id": "00feec5a-19c8-43af-bf93-e0729d1391f8",
              "name": "quality_of_image",
              "type": "string",
              "value": "medium"
            },
            {
              "id": "1b359a11-c05a-49c8-aa27-402b145fcbc1",
              "name": "size_of_image",
              "type": "string",
              "value": "1024x1024"
            },
            {
              "id": "6cf4ba85-d11a-48bb-9eaf-4084c9538d87",
              "name": "openai_image_model",
              "type": "string",
              "value": "=gpt-image-1"
            }
          ]
        },
        "options": {}
      },
      "id": "e7cce71b-581b-43f0-9b46-f7961c7c9708",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "position": [
        -1376,
        176
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "915c0a91-c0ec-4341-81a1-780d23761391",
      "name": "Separate Image Outputs",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        -976,
        176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1584,
        176
      ],
      "id": "5a143b16-6188-413a-a081-1e367e68db79",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://jowavcwbtrjlolfuetqa.supabase.co/storage/v1/object/images/openaiFIN12.jpg",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impvd2F2Y3didHJqbG9sZnVldHFhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NDU2OTU3OCwiZXhwIjoyMDcwMTQ1NTc4fQ.k72EwZkGF7lwivsokWu9joGvBvBGA2cbUDEN_t-n8hk"
            },
            {
              "name": "Content-Type",
              "value": "image/png"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -512,
        176
      ],
      "id": "de2f5b7f-7eba-47b6-98a9-7d0187705780",
      "name": "存到supabase"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "***REMOVED***",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $json.openai_image_model }}\",\n  \"prompt\": \"{{ $json.image_prompt }}\",\n  \"n\": {{ $json.number_of_images }},\n  \"size\": \"{{ $json.size_of_image }}\",\n  \"quality\": \"{{ $json.quality_of_image }}\"\n}",
        "options": {}
      },
      "id": "85702d5a-bcce-441e-a584-7c7dbf31a0c1",
      "name": "gpt-image-1生成圖片",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1168,
        176
      ],
      "typeVersion": 4.2,
      "credentials": {
        "openAiApi": {
          "id": "9gLkZ283YdwxVPCE",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## gpt-image-1生成類4o風格圖片\n",
        "height": 256,
        "width": 1088
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1408,
        96
      ],
      "typeVersion": 1,
      "id": "bbec0dc0-29b6-47c0-a843-70e368d9a87b",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "Set Variables": {
      "main": [
        [
          {
            "node": "gpt-image-1生成圖片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separate Image Outputs": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "存到supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt-image-1生成圖片": {
      "main": [
        [
          {
            "node": "Separate Image Outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "79aabb8e-0951-44aa-9eb1-23f4a1066f4e",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-09T11:06:33.813Z",
      "updatedAt": "2025-08-09T11:06:33.813Z",
      "role": "workflow:owner",
      "workflowId": "PIlDaaGPPXFnwfJL",
      "projectId": "7goAssCGKgwfIAES",
      "project": {
        "createdAt": "2025-08-06T02:37:42.802Z",
        "updatedAt": "2025-08-06T02:39:07.720Z",
        "id": "7goAssCGKgwfIAES",
        "name": "peggy lin <peggy.lin@wanin.tw>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-08-06T02:37:42.807Z",
            "updatedAt": "2025-08-06T02:37:42.807Z",
            "userId": "67944008-c997-4154-bbd0-26d022398054",
            "projectId": "7goAssCGKgwfIAES",
            "user": {
              "createdAt": "2025-08-06T02:37:42.798Z",
              "updatedAt": "2025-11-05T00:21:52.000Z",
              "id": "67944008-c997-4154-bbd0-26d022398054",
              "email": "peggy.lin@wanin.tw",
              "firstName": "peggy",
              "lastName": "lin",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-08-06T02:41:04.705Z",
                "personalization_survey_n8n_version": "1.102.0",
                "companySize": "100-499",
                "companyType": "saas",
                "role": "data-science",
                "reportedSource": "friend"
              },
              "settings": {
                "firstSuccessfulWorkflowId": "qxXV0YFTbqnC75xr",
                "userActivated": true,
                "userActivatedAt": 1754532013419,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1756796314100
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-11-04",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}