workflows/QqBn46QhoeZ9flPg_取Notion轉Qdrant  聊天問答.json
{
  "createdAt": "2025-11-06T05:49:20.463Z",
  "updatedAt": "2025-11-06T06:09:45.000Z",
  "id": "QqBn46QhoeZ9flPg",
  "name": "取Notion轉Qdrant + 聊天問答",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1296,
        480
      ],
      "id": "ef43f0e7-2375-49e1-a4ca-8eff3bd564ce",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/chat/completions",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        176,
        448
      ],
      "id": "44576959-fffd-4bc9-9a91-1ee909193d89",
      "name": "Webhook completions",
      "webhookId": "e82fc09d-67b5-4e1e-9c1c-a45c2be310bf",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=以下是使用者與 AI 的完整對話，請參考所有上下文，但請優先針對最後一個使用者問題進行回覆。\n---\n{{$json[\"dialogue\"] }}\n---\n請根據最後一個使用者問題「{{$json[\"lastUserMessage\"]}}」進行最佳回應。\n\nYou must output ONLY the following JSON format, and nothing else.\n{\n  \"found\": boolean,\n  \"answer\": string\n}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "你是一個專業的系統規則查詢助手，負責從知識庫中查找並整合最準確的答案：\n- **Qdrant Vector Store**：核心知識庫\n\n## 輸出格式規範\n**必須且只能輸出以下JSON格式，不得有任何其他內容：**\n{\n\"found\": boolean,\n\"answer\": string\n}\n\n### 格式規則\n- 找到相關規則時：`found = true`，`answer = 詳細解答內容`\n- 未找到相關規則時：`found = false`，`answer = \"目前沒有相關規則\"`\n- **重要**：當 `answer` 為 \"目前沒有相關規則\" 時，`found` 必須為 `false`\n- 不得輸出JSON以外的任何文字、符號或程式碼區塊\n- 直接輸出純JSON，無需markdown包裝\n\n### 輸出範例\n成功找到：\n`{\"found\": true, \"answer\": \"根據聊天室基本功能規則，每位客服最多可傳送 10 則離線訊息。此規則適用於所有遊戲版本。來源：https://www.notion.so/ellyli/1f9a4d5e98df80fa9a47da0707afc6f9\"}`\n\n未找到：\n`{\"found\": false, \"answer\": \"目前沒有相關規則\"}`\n\n## 查詢流程\n\n### 1. 關鍵詞萃取\n- 從使用者問題中提取核心關鍵詞（遊戲名、功能名、規則類型等）\n- 避免使用完整句子或包含情緒性詞彙的查詢\n- 範例：「為什麼中文版的聊天室功能壞了？」→ 萃取「中文版 聊天室」\n\n### 2. 查詢策略\n\n#### 第一層：Qdrant Vector Store（最優先、最主要的查詢工具）\n- 使用萃取的關鍵詞進行向量搜尋\n- 注意內容以「---」分隔不同區塊，需識別相關段落\n\n## 特殊情況處理\n\n### 規則衝突處理\n當發現多條規則存在衝突時：\n1. 明確列出每條規則的來源連結\n2. 簡述各規則的核心內容\n3. 清楚標示衝突點\n4. 建議使用者回報以協助修正\n\n### 無結果處理\n當知識庫都無相關資訊時：\n- 確認已使用不同關鍵詞組合查詢\n- 回傳標準無結果回應\n\n## 回答品質要求\n\n### 語言規範\n- 主要使用繁體中文\n- 必要時可補充英文術語\n- 保持專業但親切的語氣\n\n### 內容要求\n- 答案必須準確、完整、易懂\n- 避免過於生硬的單句回覆\n- 必須包含資料來源連結\n- 適當使用輔助說明增進理解\n\n### 資訊安全\n- 不得暴露系統內部參數\n- 不得提供可能危害系統安全的技術細節\n- 將技術資訊轉換為使用者層級的說明"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1008,
        768
      ],
      "id": "e1c2e574-df30-4081-8c65-aa72aca5905c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "$node[\"Webhook completions\"].json[\"headers\"][\"x-openwebui-chat-id\"]",
        "sessionTTL": 600
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        1408,
        112
      ],
      "id": "eb2dc269-101c-4a22-82ac-926b5e82c3b7",
      "name": "Redis Chat Memory",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9301dd0c-5231-49a3-9b96-2b712f8485e0",
              "leftValue": "={{ $json.output.found }}",
              "rightValue": "目前沒有相關規則",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1840,
        768
      ],
      "id": "16827fc9-9009-4ee5-80e8-89e786cb0b11",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "=\n{\n  \"id\": \"{{'chatcmpl-' + Math.random().toString(36).slice(2, 10)}}\",\n  \"object\": \"chat.completion\",\n  \"created\": {{Math.floor(Date.now() / 1000)}},\n  \"model\": \"n8n-agent\",\n  \"choices\": [\n    {\n      \"index\": 0,\n      \"message\": {\n        \"role\": \"assistant\",\n        \"content\": \"{{$node[\"AI Agent3\"].json[\"output\"]}}\"\n      },\n      \"finish_reason\": \"stop\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1296,
        336
      ],
      "id": "f4ca22c4-08cf-4df0-b034-f53c427a1cca",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json.body;\nconst messages = data.messages || [];\n\nlet systemPrompt = '';\nconst userAssistantPairs = [];\nlet lastUserMessage = '';\nlet tempPair = [];\n\n// 先找 system prompt\nfor (const msg of messages) {\n  if (msg.role === 'system' && !systemPrompt) {\n    systemPrompt = msg.content;\n  }\n}\n\n// 收集 user/assistant 成對的對話\nfor (const msg of messages) {\n  if (msg.role === 'user') {\n    // 如果上一組只有 user，沒有 assistant，先存起來\n    if (tempPair.length > 0) {\n      userAssistantPairs.push(tempPair);\n    }\n    tempPair = [`使用者：${msg.content}`];\n    lastUserMessage = msg.content;\n  } else if (msg.role === 'assistant') {\n    tempPair.push(`AI：${msg.content}`);\n    userAssistantPairs.push(tempPair);\n    tempPair = [];\n  }\n}\n// 如果最後一組只有 user 沒有 assistant\nif (tempPair.length > 0) {\n  userAssistantPairs.push(tempPair);\n}\n\n// 只取最近 5 組\nconst last5Pairs = userAssistantPairs.slice(-5);\nconst dialogue = last5Pairs.flat().join('\\n');\n\n// 解析請求目的\nlet ReqPurpose = 'query'; // 預設為一般查詢\n\nif (lastUserMessage.trim().startsWith('###')) {\n  if (lastUserMessage.includes('Generate a concise, 3-5 word title')) {\n    ReqPurpose = 'title';\n  } else if (lastUserMessage.includes('Generate 1-3 broad tags')) {\n    ReqPurpose = 'tags';\n  } else if (\n    lastUserMessage.includes('Suggest 3-5 relevant follow-up questions') ||\n    lastUserMessage.includes('\"follow_ups\"')\n  ) {\n    ReqPurpose = 'follow_ups';\n  }\n}\n\nreturn [\n  {\n    json: {\n      systemPrompt,\n      dialogue,\n      lastUserMessage,\n      allMessages: messages,\n      ReqPurpose // 這個給 IF 節點判斷\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        448
      ],
      "id": "6cf4a40d-52ec-42e3-9ec7-9bba95e2f6f6",
      "name": "Code"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=使用者問題：{{ $items(\"Code\")[0].json.lastUserMessage }}\n\n- 僅將「使用者真實問題」作為 WriteNotionQA 的內容，不要回寫「目前沒有相關規則」或任何系統提示字串。\n- 你可以選擇「原封不動記錄使用者問題」或「進行簡單重述、優化使其更清楚易讀」再記錄，但不得改變原意。",
        "options": {
          "systemMessage": "你是一個客服系統的輔助機器人，負責在找不到既有規則時協助兩件事：\n\n---\n\n【 主要任務 】\n1️⃣ 使用 WriteNotionQA 工具 ➜ 回寫使用者的問題到 Notion QA 資料表，以利日後人工補充。\n\n✅ 請注意：\n- 僅將「使用者真實問題」作為 WriteNotionQA 的內容，不要回寫「目前沒有相關規則」或任何系統提示字串。\n- 你可以選擇「原封不動記錄使用者問題」或「進行簡單重述、優化使其更清楚易讀」再記錄，但不得改變原意。\n\n---\n\n【 回覆範例（僅供參考，可自由變換）】\n以下是不同風格的範例句子，請學習其多樣性並自行變化：\n- 「關於您提到的『黑名單上限為何』，目前我查無相關規則，已幫您記錄回報📌，感謝您的耐心與提問！」\n- 「感謝您詢問『黑名單上限為何』，目前暫時沒有相關規則資訊，我們已經將此問題備註回報，會儘快補充！🫠」\n- 「針對您提出的『黑名單上限為何』，目前尚無查詢到相關規則，已為您登記回報✅，謝謝您的理解與協助！」\n- 「目前找不到關於『黑名單上限為何』的規則，我已協助您回報以利後續補充，謝謝您提醒我們這個問題❤️」\n\n✅ 生成時請自由變化上述範例格式\n✅ 必須包含：\n- 使用者問題內容\n- 說明目前沒有相關規則\n- 告知已回報\n- 表達安撫、感謝、溫暖語氣\n- 可適度加入 emoji\n\n---\n\n【 重要規範 】\n- WriteNotionQA 工具的輸入必須是「使用者的問題」本身，禁止輸入「目前沒有相關規則」。\n- 允許對問題內容進行簡短潤飾、優化、去除贅詞，以利日後人工編輯。\n- 回覆使用者時務必要引用他們的問題，並傳達出被關心和重視的語氣。\n\n---\n\n【 語言 】\n- 以繁體中文為主，可適度加 emoji 表現溫度。"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        2240,
        304
      ],
      "id": "8b212524-f86b-4289-a170-e3379c97e6b5",
      "name": "AI Agent3",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "1f9a4d5e-98df-8031-a477-d519037f24d1",
          "mode": "list",
          "cachedResultName": "Q&A",
          "cachedResultUrl": "https://www.notion.so/1f9a4d5e98df8031a477d519037f24d1"
        },
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}",
        "simple": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "問題|title",
              "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('propertyValues0_Title', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notionTool",
      "typeVersion": 2.2,
      "position": [
        2480,
        512
      ],
      "id": "7ae5c5a0-8abe-4270-aa91-2ebb3578b5ab",
      "name": "WriteNotionQA"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"found\": true,\n\t\"answer\": \"客服可以從後台選擇圖片後上傳，單一檔案上限5MB，檔案格式支援png、jpg\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1456,
        960
      ],
      "id": "b3d259fe-47a1-4472-a0f6-03c27d9934f7",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4abd030f-1cb6-47dc-b90b-098009445209",
                    "leftValue": "={{$json[\"ReqPurpose\"]}}",
                    "rightValue": "title",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "title"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3c9f308d-c90e-46d7-b70c-c704c8977513",
                    "leftValue": "={{$json[\"ReqPurpose\"]}}",
                    "rightValue": "tags",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "tags"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "091d8c6b-7bd1-4ec8-bc4c-2f81eb2afe4a",
                    "leftValue": "={{$json[\"ReqPurpose\"]}}",
                    "rightValue": "follow_ups",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "follow_ups"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{$json[\"ReqPurpose\"]}}",
                    "rightValue": "query",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d0643ac9-eb57-4454-872b-cc31638645d8"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "query"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        608,
        416
      ],
      "id": "3a57c88a-768b-458c-85ea-71a3f74f67c8",
      "name": "Switch"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"title\": \"🍪 Perfect Chocolate Chip Recipe\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1040,
        128
      ],
      "id": "e5d2003d-21e6-41d9-90cc-c7a66df5a54c",
      "name": "Res Title"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"tags\": [\"客服工具\", \"小幫手\"] }",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1040,
        288
      ],
      "id": "bb8e145c-d05d-4716-a49c-d02b9738f305",
      "name": "Res Tags"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"follow_ups\": [\n  \"??\"\n]}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1040,
        432
      ],
      "id": "a0dde7dc-9cd0-4ae0-8ea9-6f082a7980dc",
      "name": "Res Follow_ups"
    },
    {
      "parameters": {
        "path": "models",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        144,
        128
      ],
      "id": "9a79793e-af3e-47c7-9426-1e6f236147a7",
      "name": "Webhook model",
      "webhookId": "0c7f0fd5-e081-4978-b85c-893d7f8bb99c"
    },
    {
      "parameters": {
        "jsCode": "const models = {\n  object: \"list\",\n  data: [\n    {\n      id: \"知識機器人\",\n      object: \"model\",\n      created: 1686935000,\n      owned_by: \"jun\"\n    }\n  ]\n};\n\nreturn [\n  {\n    json: models\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        128
      ],
      "id": "3669f4cf-e5fe-474c-99a9-de3bbf7965fa",
      "name": "create data"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        560,
        128
      ],
      "id": "1412ae32-2a63-4004-86e7-a8b41055a7d0",
      "name": "Response Webhook model"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1104,
        1488
      ],
      "id": "306866ad-4d65-4058-93b2-18034ed635f5",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        2640,
        1504
      ],
      "id": "bcd79b46-f1e6-4e52-b7ba-6c3fdddf565a"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "1f5a4d5e-98df-80a6-b88e-f501c36b069b",
          "mode": "list",
          "cachedResultName": "規則表",
          "cachedResultUrl": "https://www.notion.so/1f5a4d5e98df80a6b88ef501c36b069b"
        },
        "returnAll": true,
        "simple": false,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "key": "上次編輯時間|last_edited_time",
              "condition": "after",
              "lastEditedTime": "={{ \n  new Date(\n    new Date().getTime() + 8*60*60*1000 - 14*24*60*60*1000\n  ).toISOString() \n}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        480,
        1488
      ],
      "id": "d9cc2fd9-21c3-4d5b-91ef-40d0506a8a3b",
      "name": "Notion DB"
    },
    {
      "parameters": {
        "resource": "block",
        "operation": "getAll",
        "blockId": {
          "__rl": true,
          "value": "={{ $json.url }}",
          "mode": "url"
        },
        "returnAll": true,
        "fetchNestedBlocks": true,
        "simplifyOutput": false
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1392,
        1504
      ],
      "id": "e34642e2-8943-46a6-94a3-04ded9d5e908",
      "name": "Notion Page"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "是一個知識工具，可以用來查詢規則或知識。",
        "qdrantCollection": {
          "__rl": true,
          "value": "resume",
          "mode": "list",
          "cachedResultName": "resume"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        1168,
        960
      ],
      "id": "5d43c6d3-3482-42fa-8772-3006a070d22c",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "bBM1xZbp8MLVQ5BC",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "description": "查詢人工補充的客服QA資料庫，此工具可作為向量資料庫的補充資料。",
        "workflowId": {
          "__rl": true,
          "value": "xVswRFarAXhgsxJa",
          "mode": "list",
          "cachedResultUrl": "/workflow/xVswRFarAXhgsxJa",
          "cachedResultName": "Get Notion Tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        992,
        960
      ],
      "id": "c596f8cf-e3ce-4e57-b5af-fc0cb7f1bf47",
      "name": "SearchQADatabase",
      "disabled": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1168,
        1104
      ],
      "id": "0d8ff7a3-a208-43dd-99f9-504c8637dc11",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "TcbdbxzebK9gSKPI",
          "name": "Google Gemini(PaLM) Api account 6"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 複雜 Notion 頁面內容整理\nlet content = '';\nlet pageTitle = $('Loop Over Items').first()?.json?.title ?? \"\";\nlet keywords = $('Loop Over Items').first()?.json?.Keywords ?? [];\nif (!Array.isArray(keywords)) {\n  keywords = [];\n}\nlet gameServer = $('Loop Over Items').first()?.json?.GameServer ?? [];\nif (!Array.isArray(gameServer)) {\n  gameServer = [];\n}\nlet system = $('Loop Over Items').first()?.json?.system ?? [];\nif (!Array.isArray(system)) {\n  system = [];\n}\n\nlet sections = [];\nlet currentSection = '';\n\n// 處理每個 block\nfor (const block of items) {\n  const type = block.json.type;\n  const data = block.json[type];\n  \n  // 1. 標題型區塊（遇到標題就開始新區塊）\n  const textArr = data?.text || data?.rich_text || [];\n  if (['heading_1', 'heading_2', 'heading_3'].includes(type)) {\n    // 先把現有內容收進 sections\n    if (currentSection.trim()) {\n      sections.push(currentSection.trim());\n      currentSection = '';\n    }\n    const text = textArr.map(rt => rt.plain_text).join('').trim();\n    if (text) {\n      currentSection += `【${text}】\\n`;\n    }\n    continue;\n  }\n\n  // 2. 一般段落、條列、任務清單、引用\n  if (\n    [\n      'paragraph', 'bulleted_list_item', 'numbered_list_item', 'to_do', 'quote'\n    ].includes(type)\n  ) {\n    const text = textArr.map(rt => rt.plain_text).join('').trim();\n    if (text) {\n      if (type.endsWith('list_item')) {\n        currentSection += `・${text}\\n`;\n      } else {\n        currentSection += text + '\\n';\n      }\n    }\n    continue;\n  }\n\n  // 3. code 區塊\n  if (type === 'code') {\n    const codeText = textArr.map(rt => rt.plain_text).join('').trim();\n    if (codeText) {\n      currentSection += `\\`\\`\\`\\n${codeText}\\n\\`\\`\\`\\n`;\n    }\n    continue;\n  }\n\n  // 4. table row\n  if (type === 'table_row') {\n    const rowCells = data.cells || [];\n    const rowText = rowCells.map(\n      cell => cell.map(rt => rt.plain_text).join('')\n    ).join(' | ').trim();\n    if (rowText) {\n      currentSection += rowText + '\\n';\n    }\n    continue;\n  }\n\n  // 5. image 區塊\n  if (type === 'image') {\n    const caption = (data.caption || []).map(rt => rt.plain_text).join('').trim();\n    if (caption) {\n      currentSection += `[圖片說明：${caption}]\\n`;\n    } else {\n      currentSection += `[圖片]\\n`;\n    }\n    continue;\n  }\n\n  // 6. link_preview 區塊\n  if (type === 'link_preview') {\n    const url = data.url || '';\n    if (url) {\n      currentSection += `連結：${url}\\n`;\n    }\n    continue;\n  }\n}\n\n// 收尾，最後一區也要加進 sections\nif (currentSection.trim()) {\n  sections.push(currentSection.trim());\n}\n\n// 用 --- 分區\ncontent = sections.join('\\n---\\n');\n\n// 準備 keywords 和 tags 的文字表示（用於搜尋）\nconst keywordText = keywords.length > 0 ? `關鍵字：${keywords.join(', ')}` : '';\nconst gameServerText = gameServer.length > 0 ? `遊戲伺服器：${gameServer.join(', ')}` : '';\nconst systemText = system.length > 0 ? `系統：${system.join(', ')}` : '';\n\n// 組合 pageContent（給 embedding 使用的完整文字）\nlet pageContent = `標題：${pageTitle}\\n`;\nif (keywordText) pageContent += keywordText + '\\n';\nif (gameServerText) pageContent += gameServerText + '\\n';\nif (systemText) pageContent += systemText + '\\n';\npageContent += `\\n內容：\\n${content}`;\n\n// 取得頁面ID\nconst pageId = items[0]?.json.parent?.page_id || items[0]?.json.id;\n\n// 回傳 Qdrant Vector Store 需要的格式\nreturn [\n  {\n    json: {\n      // pageContent 是用於向量化的完整文字\n      pageContent: pageContent,\n      \n      // metadata 包含所有結構化資料\n      metadata: {\n        id: pageId,\n        title: pageTitle,\n        pageId: pageId,\n        keywords: keywords,\n        gameServer: gameServer,\n        system: system,\n        content: content,\n        sections: sections, // 保留分段資訊\n        sectionCount: sections.length,\n        contentLength: content.length,\n        source: \"notion\",\n        contentType: \"knowledge_base\",\n        indexed_at: new Date().toISOString(),\n        // 搜尋友善的標籤\n        searchTags: [...keywords, ...gameServer, ...system].filter(tag => tag && tag.trim()),\n        // 是否包含程式碼\n        hasCode: content.includes('```'),\n        // 是否包含表格\n        hasTable: content.includes('|'),\n        // 是否包含圖片\n        hasImage: content.includes('[圖片')\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        1504
      ],
      "id": "71936387-6ba7-4633-bcc4-e31b5abdc6a5",
      "name": "整理單一頁面"
    },
    {
      "parameters": {
        "jsCode": "// items 是 n8n 標準的輸入，每一筆就是一個規則頁\n\nreturn items.map(item => {\n  // 頁面 id\n  const pageId = item.json.id;\n\n  // 頁面標題（title 欄位是個陣列）\n  let title = '';\n  const titleArr = item.json.properties?.項目?.title || [];\n  if (titleArr.length > 0) {\n    title = titleArr.map(t => t.plain_text).join('');\n  }\n\n  // Notion 頁面網址（你已經有 url 欄位）\n  const url = item.json.url;\n\n  const system = (item.json.properties?.系統?.multi_select || []).map(s => s.name);\n  const lastEditedTime = item.json.last_edited_time;\n\n  return {\n    json: {\n      pageId,\n      title,\n      url,\n      system,\n      lastEditedTime\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        1488
      ],
      "id": "7bb81b51-dfb0-4ba0-8a6e-79faab62b2ad",
      "name": "整理批次頁面"
    },
    {
      "parameters": {
        "jsCode": "const embeddingResult = $input.first().json;\nconst processedData = $('整理單一頁面').first().json;\nconst vector = embeddingResult.embedding.values;\n\nconsole.log('=== Building Qdrant Point ===');\nconsole.log('Page ID:', processedData.metadata.id);\nconsole.log('Content:', processedData.pageContent.substring(0, 100));\n\nreturn [{\n    json: {\n        points: [\n            {\n                id: processedData.metadata.id,\n                vector: vector,\n                payload: {\n                    content: processedData.pageContent,\n                    metadata: {\n                        title: processedData.metadata.title,\n                        pageId: processedData.metadata.pageId,\n                        keywords: processedData.metadata.keywords,\n                        system: processedData.metadata.system,\n                        source: processedData.metadata.source,\n                        contentType: processedData.metadata.contentType,\n                        contentLength: processedData.metadata.contentLength,\n                        sectionCount: processedData.metadata.sectionCount,\n                        searchTags: processedData.metadata.searchTags,\n                        indexed_at: new Date().toISOString()\n                    }\n                }\n            }\n        ]\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2144,
        1504
      ],
      "id": "6d711de2-62f7-4a10-baf8-709e67bf6cd0",
      "name": "轉成儲存格式"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-embedding-001:embedContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyAz-L2vN9CbP57YYNH4VHeFXfrUQgDlw1w"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content.parts[0].text",
              "value": "={{ $json.pageContent }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        1504
      ],
      "id": "f9d5ac67-3486-4b03-86cf-2243fb1e551b",
      "name": "HTTP Request 向量計算"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://junqdrant.zeabur.app/collections/resume/points",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "rU6geVAj98WqOYi0ho3yPfu1Fa527Mx4"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2416,
        1504
      ],
      "id": "4a1c9a14-4fad-49c9-aeba-c3761f5d0ad4",
      "name": "HTTP Request 儲存向量"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 19,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        176,
        1488
      ],
      "id": "82123a91-f4ec-4203-811f-10dbf94d9157",
      "name": "Schedule"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1456,
        1104
      ],
      "id": "1d1204ff-9c71-43a1-b502-c4f4e218c00b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "TcbdbxzebK9gSKPI",
          "name": "Google Gemini(PaLM) Api account 6"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        608,
        960
      ],
      "id": "10cd1c95-6401-460f-bd5c-ee2fc2785b3d",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "TcbdbxzebK9gSKPI",
          "name": "Google Gemini(PaLM) Api account 6"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2160,
        512
      ],
      "id": "059f15ac-5a06-42a3-9f8a-4a5283efe263",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "TcbdbxzebK9gSKPI",
          "name": "Google Gemini(PaLM) Api account 6"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const answer = $json[\"output\"];\nconst now = Math.floor(Date.now() / 1000);\n\nreturn [{\n  json: {\n    id: \"chatcmpl-\" + now,\n    object: \"chat.completion\",\n    created: now,\n    model: \"知識機器人\",\n    stream: false,\n    choices: [\n      {\n        index: 0,\n        message: {\n          role: \"assistant\",\n          content: $input.first().json.output.answer\n        },\n        finish_reason: \"stop\"\n      }\n    ],\n    usage: {\n      prompt_tokens: 50,\n      completion_tokens: 100,\n      total_tokens: 150\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2272,
        784
      ],
      "id": "4ca5f077-8624-4afd-a656-f594fd84859d",
      "name": "回應格式"
    },
    {
      "parameters": {
        "content": "定時拉取notion轉向量",
        "height": 320,
        "width": 2720
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        128,
        1408
      ],
      "id": "7e943351-3ab0-4b7f-9d67-5744e02d5208",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "機器人問答入口",
        "height": 256,
        "width": 656,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        96,
        384
      ],
      "id": "f855ecc1-fc39-4744-b680-9c060f5a5f68",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "機器人查詢模型",
        "height": 256,
        "width": 656
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        96,
        64
      ],
      "id": "ce71d33b-b30b-4e14-9acd-ed62772bfca9",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "查不到資料時的回報+回應",
        "height": 400,
        "width": 912,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1984,
        256
      ],
      "id": "9377b242-80b6-472b-a2ac-a2a8cd8c61c2",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "提供機器人額外資訊",
        "height": 496,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        960,
        96
      ],
      "id": "a931e45a-f01e-40e4-9b6d-5db3064c7770",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "jsCode": "// 取得當前的 chat 輸入\nconst currentInput = $input.first().json;\nconst chatInput = currentInput.chatInput || '';\nconst sessionId = currentInput.sessionId || '';\n\n// 嘗試取得對話歷史 (如果有接 Memory 節點)\nlet chatHistory = [];\ntry {\n  // 如果你有接 Window Buffer Memory 或其他 Memory 節點,改成對應的節點名稱\n  chatHistory = $('Window Buffer Memory').all();\n} catch (e) {\n  // 沒有 Memory 節點也沒關係\n  console.log('沒有找到 Memory 節點,使用空歷史');\n}\n\nlet systemPrompt = '';\nconst userAssistantPairs = [];\nlet lastUserMessage = chatInput;\nlet tempPair = [];\nconst allMessages = [];\n\n// 處理歷史訊息\nif (chatHistory && chatHistory.length > 0) {\n  for (const item of chatHistory) {\n    const message = item.json;\n    \n    // Memory 節點的格式可能是 type: 'human'/'ai' 或 role: 'user'/'assistant'\n    const role = message.type === 'human' ? 'user' \n                : message.type === 'ai' ? 'assistant' \n                : message.role || 'user';\n    const content = message.text || message.content || message.message || '';\n    \n    if (!content) continue;\n    \n    allMessages.push({ role, content });\n    \n    if (role === 'system' && !systemPrompt) {\n      systemPrompt = content;\n      continue;\n    }\n    \n    if (role === 'user') {\n      if (tempPair.length > 0) {\n        userAssistantPairs.push(tempPair);\n      }\n      tempPair = [`使用者:${content}`];\n    } else if (role === 'assistant') {\n      tempPair.push(`AI:${content}`);\n      userAssistantPairs.push(tempPair);\n      tempPair = [];\n    }\n  }\n}\n\n// 加入當前使用者訊息\nif (lastUserMessage) {\n  allMessages.push({ role: 'user', content: lastUserMessage });\n  \n  // 如果前面有未完成的 pair,先存起來\n  if (tempPair.length > 0) {\n    userAssistantPairs.push(tempPair);\n  }\n  // 加入當前使用者訊息\n  userAssistantPairs.push([`使用者:${lastUserMessage}`]);\n}\n\n// 只取最近 5 組\nconst last5Pairs = userAssistantPairs.slice(-5);\nconst dialogue = last5Pairs.flat().join('\\n');\n\n// 解析請求目的\nlet ReqPurpose = 'query';\nif (lastUserMessage.trim().startsWith('###')) {\n  if (lastUserMessage.includes('Generate a concise, 3-5 word title')) {\n    ReqPurpose = 'title';\n  } else if (lastUserMessage.includes('Generate 1-3 broad tags')) {\n    ReqPurpose = 'tags';\n  } else if (\n    lastUserMessage.includes('Suggest 3-5 relevant follow-up questions') ||\n    lastUserMessage.includes('\"follow_ups\"')\n  ) {\n    ReqPurpose = 'follow_ups';\n  }\n}\n\n// 輸出結果\nreturn {\n  json: {\n    sessionId,           // 保留 sessionId 給後續節點使用\n    systemPrompt,\n    dialogue,\n    lastUserMessage,\n    allMessages,\n    ReqPurpose,\n    chatInput            // 保留原始 chatInput\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        768
      ],
      "id": "0a78b8c0-89ea-4565-aa44-288e5ddb0f28",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "public": true,
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        176,
        768
      ],
      "id": "012f2202-819c-488c-9cfa-fd5f9b749cf4",
      "name": "When chat message received",
      "webhookId": "34fc65d2-1849-44b5-92d5-93bfffdaa397"
    },
    {
      "parameters": {
        "message": "={{$node[\"AI Agent3\"].json[\"output\"]}}",
        "waitUserReply": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        2672,
        304
      ],
      "id": "516b2bf1-2ffe-4566-8bf1-017fe439e010",
      "name": "Respond to Chat"
    },
    {
      "parameters": {
        "message": "={{ $json.choices[0].message.content }}",
        "waitUserReply": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        2560,
        784
      ],
      "id": "f03e6273-73d5-4e51-9a82-c91bf2a3e184",
      "name": "Respond to Chat1"
    },
    {
      "parameters": {
        "content": "機器人",
        "height": 672,
        "width": 1536,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "684dac65-1096-46da-9e84-0490243aabef",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "$node[\"Webhook completions\"].json[\"headers\"][\"x-openwebui-chat-id\"]"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        800,
        976
      ],
      "id": "4f880417-0e34-4de8-88db-b862d1d21d6a",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "query"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2336,
        512
      ],
      "id": "313b4f27-2421-4f6d-af5e-a1b3e211d84b",
      "name": "Simple Memory1"
    }
  ],
  "connections": {
    "Webhook completions": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "回應格式",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WriteNotionQA": {
      "ai_tool": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Res Title",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Res Tags",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Res Follow_ups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook model": {
      "main": [
        [
          {
            "node": "create data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create data": {
      "main": [
        [
          {
            "node": "Response Webhook model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Notion Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion DB": {
      "main": [
        [
          {
            "node": "整理批次頁面",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion Page": {
      "main": [
        [
          {
            "node": "整理單一頁面",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SearchQADatabase": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "整理單一頁面": {
      "main": [
        [
          {
            "node": "HTTP Request 向量計算",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "整理批次頁面": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "轉成儲存格式": {
      "main": [
        [
          {
            "node": "HTTP Request 儲存向量",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request 向量計算": {
      "main": [
        [
          {
            "node": "轉成儲存格式",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request 儲存向量": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule": {
      "main": [
        [
          {
            "node": "Notion DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "回應格式": {
      "main": [
        [
          {
            "node": "Respond to Chat1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "ed826c46-13a1-4734-ac6f-e96607b8f60d",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-11-06T05:49:20.472Z",
      "updatedAt": "2025-11-06T05:49:20.472Z",
      "role": "workflow:owner",
      "workflowId": "QqBn46QhoeZ9flPg",
      "projectId": "iZydbwsMPJYYjvth",
      "project": {
        "createdAt": "2025-09-16T02:39:54.633Z",
        "updatedAt": "2025-09-16T02:43:19.908Z",
        "id": "iZydbwsMPJYYjvth",
        "name": "common web <web@wanin.tw>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-16T02:39:54.639Z",
            "updatedAt": "2025-09-16T02:39:54.639Z",
            "userId": "55f25be3-69cb-4a61-849e-09b3e6328043",
            "projectId": "iZydbwsMPJYYjvth",
            "user": {
              "createdAt": "2025-09-16T02:39:54.628Z",
              "updatedAt": "2025-11-06T01:55:21.000Z",
              "id": "55f25be3-69cb-4a61-849e-09b3e6328043",
              "email": "web@wanin.tw",
              "firstName": "common",
              "lastName": "web",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-16T02:43:24.324Z",
                "personalization_survey_n8n_version": "1.108.1"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "XN79dmNc8yPVm6XU",
                "userActivated": true,
                "userActivatedAt": 1758096117396,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1761544952978
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-11-05",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}