workflows/XN79dmNc8yPVm6XU_電子報標題.json
{
  "createdAt": "2025-09-17T07:30:55.342Z",
  "updatedAt": "2025-11-04T04:20:33.000Z",
  "id": "XN79dmNc8yPVm6XU",
  "name": "電子報標題",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=你是一個專業的標題品質審查專家。請仔細評估AI生成的整合標題品質。\n\n## 輸入資料\n- **生成的整合標題**:{{ $json.text }}\n- **參考句型範例(不參考內容)**: \n  1. \"輕颱楊柳恐直撲北台灣？ 鄧愷威奪大聯盟首勝感言曝\"\n  2. \"邱議瑩駁小賴配？賴瑞隆大林蒲遷村2027啟動！\"\n  3. \"楊柳颱風恐成「強颱」？川普、普丁密會，澤倫斯基會被犧牲嗎？\"\n  4. \"曾麗燕遭判12年該還司法公道？川普會普丁談停戰，俄烏真的會停火嗎？\"\n\n## 審查任務\n請進行以下三項比較分析：\n\n### 1. 與參考句型的相似度分析(不參考內容)\n對照以下新聞標題格式範例：\n- \"輕颱楊柳恐直撲北台灣？ 鄧愷威奪大聯盟首勝感言曝\"\n- \"邱議瑩駁小賴配？賴瑞隆大林蒲遷村2027啟動！\"\n- \"曾麗燕遭判12年該還司法公道？川普會普丁談停戰，俄烏真的會停火嗎？\"\n\n評分項目：\n- 結構相似度：與參考句型的相似度(可能包含問號、驚嘆號、空格) (0-20分)\n- 表達方式符合度：語氣和用詞是否符合新聞標題風格 (0-15分)\n- 專業度匹配：是否具備新聞專業性和可信度 (0-20分)\n\n### 2. 整體品質評估\n- 語言流暢度 (0-10分)\n- 吸引力：是否讓讀者看到標題會產生好奇心、聳動性或是{{ $json.text }}包含地名、人名、數字...等(0-20分)\n\n### 3. 內容品質評估\n- 整合的標題有符合{{ $('彙整資料').item.json.all_contents_full }}內的任兩個新聞，如果不是裡面的新聞請直接給0分 (0-15分)\n\n## 評分標準\n**總分計算**: 各項分數相加，滿分100分\n**通過門檻**: 結構相似度>=10分，吸引力分數>=10分，其餘總分>=50分\n\n## 輸出格式\n請按以下JSON格式回應：\n\n```json\n{\n  \"scores\": {\n    \"structure_similarity\": XX,      // 結構相似度：是否採用「問句、空格」的格式 (0-20分)\n    \"expression_match\": XX,          // 表達方式符合度：語氣和用詞是否符合新聞標題風格 (0-20分)\n    \"professionalism\": XX,           // 專業度匹配：是否具備新聞專業性和可信度 (0-15分)\n    \"fluency\": XX,                   // 語言流暢度 (0-10分)\n    \"attractiveness\": XX,            // 吸引力：是否讓讀者看到標題會產生好奇心 (0-20分)\n    \"content_quality\": XX            // 內容品質評估：整合的標題有符合任兩個新聞，但不考慮放在一起是否有邏輯關聯 (0-15分)\n  },\n  \"total_score\": XX,                 // 總分 (滿分100分)\n  \"structure_score\": XX,             // 結構相似度分數 (用於判斷是否>=10分)\n  \"attractiveness_score\": XX,        // 吸引力分數 (用於判斷是否>=10分)\n  \"other_scores_total\": XX,          // 其他分數總和 (用於判斷是否>50分)\n  \"passed\": true/false,              // 通過標準：結構相似度>=10分 且 吸引力分數>= 10分 且內容品質評估>= 10 且其他(表達方式符合度 + 專業度匹配 + 語言流暢度)>=35分\n  \"pass_criteria\": {\n    \"structure_passed\": true/false,  // 結構分數是否>=10分\n    \"attractiveness\": true/false, // 吸引力分數是否>=10分\n    \"content_quality\": true/false, // 其內容品質評估是否>=10分\n    \"other_scores_passed\": true/false, // 其他分數總和是否>35分\n    \"overall_passed\": true/false,     // 整體是否通過\n  },\n  \"confidence_level\": \"high/medium/low\"  // 適合當本次電子報標題的信心程度\n  \"loop_retries\":{{ $('計數器+').item.json.loop_retries }} // 執行次數\n} \n\n\n## 通過邏輯判斷\n1. 檢查 structure_similarity 是否 >= 10分\n2. 檢查 (expression_match + professionalism + fluency ) 是否 >= 35分\n3. 檢查 content_quality 是否 >= 10分\n4. 檢查 attractiveness 是否 >= 10分\n5. 檢查'{{ $json.text }}'為字數23~30個繁體中文\n6. **重要**：如果所有條件都是true，passed必須設為true！\n\n請確保邏輯正確！",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -288,
        416
      ],
      "id": "a28012a9-3d44-4179-8e8c-8c8d25aa3509",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -320,
        672
      ],
      "id": "ddaec1c1-79c2-494c-a947-3e24b18f1719",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "TcbdbxzebK9gSKPI",
          "name": "Google Gemini(PaLM) Api account 6"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 提取標題文字\nconst response = $input.first().json;\n\ntry {\n  // 解析content.parts[0].text中的JSON\n  const textContent = response.content.parts[0].text;\n  const parsed = JSON.parse(textContent);\n  const title = parsed.title;\n  \n  // 直接返回標題文字\n  return {\n    json: {\n      text: title\n    }\n  };\n} catch (error) {\n  // 如果解析失敗\n  return {\n    json: {\n      text: \"標題生成失敗\"\n    }\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        416
      ],
      "id": "abae5a9c-ddd1-4a23-b835-6fcab3aaef07",
      "name": "提取標題"
    },
    {
      "parameters": {
        "jsCode": "// 清理和解析AI Agent輸出\nlet response = $input.first().json.output;\n\n// 移除markdown標記\nresponse = response.replace(/```json\\n?/g, '').replace(/```\\n?/g, '');\n\n// 解析JSON\nlet result;\ntry {\n  result = JSON.parse(response);\n} catch (error) {\n  result = { passed: false, error: \"JSON解析失敗\" };\n}\n\n// 修正資料類型\nresult.passed = result.passed === true || result.passed === \"true\";\nresult.total_score = parseInt(result.total_score) || 0;\n\n// 確保scores物件存在且所有分數都是數字\nif (!result.scores) {\n  result.scores = {};\n}\n\n// 設定預設分數\nconst defaultScores = {\n  structure_similarity: 0,\n  expression_match: 0,\n  professionalism: 0,\n  fluency: 0,\n  attractiveness: 0,\n  content_quality: 0\n};\n\n// 合併並確保所有分數都是數字\nresult.scores = { ...defaultScores, ...result.scores };\nObject.keys(result.scores).forEach(key => {\n  result.scores[key] = parseInt(result.scores[key]) || 0;\n});\n\n// **按照您的格式要求重新計算通過邏輯**\nconst structurePassed = (result.scores.structure_similarity || 0) >= 10;\nconst attractivenessPassed = (result.scores.attractiveness || 0) >= 10;\nconst contentQualityPassed = (result.scores.content_quality || 0) >= 10;\nconst otherScoresTotal = (result.scores.expression_match || 0) + \n                        (result.scores.professionalism || 0) + \n                        (result.scores.fluency || 0);\nconst otherScoresPassed = otherScoresTotal >= 35;\n\n\n// **正確的通過判斷 - 按照您的要求**\nresult.passed = structurePassed && attractivenessPassed && contentQualityPassed && otherScoresPassed ;\n\n// 更新各項通過狀態\nresult.structure_passed = structurePassed;\nresult.attractiveness_passed = attractivenessPassed;\nresult.content_quality_passed = contentQualityPassed;\nresult.other_scores_passed = otherScoresPassed;\nresult.structure_score = result.scores.structure_similarity || 0;\nresult.attractiveness_score = result.scores.attractiveness || 0;\nresult.other_scores_total = otherScoresTotal;\n\n// 更新pass_criteria以符合您的格式\nresult.pass_criteria = {\n  structure_passed: structurePassed,\n  attractiveness: attractivenessPassed,\n  content_quality: contentQualityPassed,\n  other_scores_passed: otherScoresPassed,\n  overall_passed: result.passed\n};\n\n\n// **新增：符合您要求格式的額外欄位**\nresult.structure_score = result.scores.structure_similarity || 0;\nresult.attractiveness_score = result.scores.attractiveness || 0;\nresult.other_scores_total = otherScoresTotal;\n\n// Debug 輸出\nconsole.log(`=== 第 ${result.loopCount} 次評估結果 ===`);\nconsole.log(`評估結果: ${result.passed ? '通過' : '未通過'}`);\nconsole.log(`通過條件檢查:`);\nconsole.log(`- 結構相似度: ${result.scores.structure_similarity}/20 (${structurePassed ? '通過' : '未通過'})`);\nconsole.log(`- 吸引力: ${result.scores.attractiveness}/20 (${attractivenessPassed ? '通過' : '未通過'})`);\nconsole.log(`- 內容品質: ${result.scores.content_quality}/15 (${contentQualityPassed ? '通過' : '未通過'})`);\nconsole.log(`- 其他分數總和: ${otherScoresTotal}/35 (${otherScoresPassed ? '通過' : '未通過'})`);\nconsole.log(`- 總分: ${result.total_score}/100`);\n\n// **移除不必要的欄位，直接返回完整結果**\n// 讓 IF 節點來決定是否需要重試\nreturn {\n  json: {\n    ...result,\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        416
      ],
      "id": "9cdc1257-0f3f-43ed-89c3-497666c04352",
      "name": "整理ai agent輸入內容",
      "retryOnFail": false
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=請根據這些這五則新聞內容，不要廢話，整合一個1個電子報標題，要具吸睛效果，但保留資訊正確性\n{{ $('彙整資料').item.json.all_contents_full }}\n\n- 必須20~30個繁體字\n- 不因為標點符號而斷章取義\n- 挑選方式依序為天氣、選舉、國內政治、國際政治\n- 挑選一則國內加一則國外新聞作為本次電子報標題，不同新聞使用空格\n- 吸睛但不標題殺人\n- 將數字、人名、地名加入標題增加印象\n- 請提供一個最好的（重要！）\n- 一個標題內呈現兩則新聞即可，不可太過分散\n- 善用問號夾帶懸疑氛圍\n- 請一律使用input提供的內容，不能自己生成\n- 不同的新聞不使用逗號連接\n\n\n**請以下面JSON格式回應，不要有其他文字、markdown、解釋：**\n```json\n{\n  \"title\": \"你的電子報標題\"\n}"
            },
            {
              "content": "你是一個撰寫電子信的專家，專門讓讀者看到主旨就想點進去看內容，只挑選最好的一則做呈現",
              "role": "model"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "systemMessage": "=**請以下面JSON格式回應，不要有其他文字、markdown、解釋：**\n```json\n{\n  \"title\": \"你的電子報標題\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -832,
        416
      ],
      "id": "0d7c77cc-9e99-41e4-a9d8-561ba3cd0401",
      "name": "生成推薦標題",
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "googlePalmApi": {
          "id": "TcbdbxzebK9gSKPI",
          "name": "Google Gemini(PaLM) Api account 6"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c562e941-e15c-46b4-98b0-56d641e3ad25",
              "leftValue": "={{ $json.error }}",
              "rightValue": "JSON解析失敗",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        496,
        160
      ],
      "id": "b48fecc6-059a-4ad8-82fd-9e7a87c2ef7b",
      "name": "是否解析成功"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.passed }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "c4e3e505-d4b0-4a69-b432-f2115c6ea38a"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "25d641ff-0926-4495-a188-2037ca04fd95",
                    "leftValue": "={{ $json.passed }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        112,
        -16
      ],
      "id": "97f8846b-9660-4b94-8e25-10f09aec0a1e",
      "name": "標題是否通過",
      "executeOnce": false,
      "retryOnFail": false,
      "maxTries": 5,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5fd62aff-22d7-44de-b44a-8cfb02de032f",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1792,
        416
      ],
      "id": "6e8039a9-4bcb-4753-9399-13a13cf7893c",
      "name": "Webhook",
      "webhookId": "5fd62aff-22d7-44de-b44a-8cfb02de032f"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n    \"text\": \"{{ $('提取標題').item.json.text }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        992,
        48
      ],
      "id": "a395571f-aa53-4e52-92a4-98d9810f95a6",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "loop_retries"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1264,
        416
      ],
      "id": "604d6366-68f7-43f7-92fc-e4a46c3627bb",
      "name": "初始化計數器1"
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "loop_retries",
              "value": "={{$json.loop_retries+ 1 }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -976,
        416
      ],
      "id": "dc0a8893-67e7-489b-b703-be0df17b2c9b",
      "name": "計數器+"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a1fd0aa4-c03e-492b-8323-ee5dfa83e1bb",
              "leftValue": "={{ $json.loop_retries }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -448,
        -208
      ],
      "id": "dd9b4652-64a6-4101-b9f9-9936170e2dc2",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// 修正後的 n8n Code 節點 - 處理 Webhook 新聞資料（簡化版）\n// 只輸出 all_contents_full\n\n// 從 webhook 輸入中提取新聞資料\nconst inputData = $input.all()[0].json;\n\n// 根據實際資料結構，新聞陣列在 body 屬性中\nconst newsArray = inputData.body;\n\n// 檢查是否有新聞資料\nif (!newsArray || !Array.isArray(newsArray) || newsArray.length === 0) {\n  return [{\n    json: {\n      all_contents_full: \"未找到新聞資料，請確認 webhook 資料格式正確\"\n    }\n  }];\n}\n\n// 彙整新聞內容 - 格式：編號. 標題\\n內容\\n\\n\nlet aggregatedContent = '';\nfor (let i = 0; i < newsArray.length; i++) {\n  const news = newsArray[i];\n  const title = news.title || '無標題';\n  const content = news.content || '無內容';\n  \n  // 建立格式化內容：編號. 標題\\n內容\n  aggregatedContent += `${i + 1}. ${title}\\n${content}`;\n  \n  // 如果不是最後一則新聞，添加兩個換行作為分隔\n  if (i < newsArray.length - 1) {\n    aggregatedContent += '\\n\\n';\n  }\n}\n\n// 輸出結果\nreturn [{\n  json: {\n    all_contents_full: aggregatedContent\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1504,
        416
      ],
      "id": "66d0e4f0-b692-41fc-80e5-1b4362496213",
      "name": "彙整資料"
    },
    {
      "parameters": {
        "content": "[\n  {\n    \"headers\": {\n      \"host\": \"ellyli3160.zeabur.app\",\n      \"content-length\": \"4765\",\n      \"accept\": \"*/*\",\n      \"content-type\": \"application/json\",\n      \"expect\": \"100-continue\",\n      \"x-forwarded-for\": \"125.227.80.235, 125.227.80.235\",\n      \"x-forwarded-host\": \"ellyli3160.zeabur.app\",\n      \"x-forwarded-port\": \"443\",\n      \"x-forwarded-proto\": \"https\",\n      \"x-real-ip\": \"125.227.80.235\",\n      \"x-zeabur-container-port\": \"5678\",\n      \"x-zeabur-ip-country\": \"TW\",\n      \"x-zeabur-request-id\": \"tpe1::5b8e62f5-9fee-41ac-bd6d-70a20dbcd977\",\n      \"accept-encoding\": \"gzip\"\n    },\n    \"params\": {},\n    \"query\": {},\n    \"body\": [\n      {\n        \"title\": \"非洲豬瘟防疫疑點重重被狂打臉！中市府稱未收到中央系統警示通報\",\n        \"content\": \"台中爆發非洲豬瘟疫情，防檢署提出諸多疑點要求台中市政府改善，針對關鍵的豬隻何時出現大量死亡狀況，從系統查看發現該案例場自9月開始就有死豬，要求市府回溯追查清楚；遭到輿論撻伐的台中市政府深夜11點緊急澄清指稱，有關養豬場死豬是否異常，均會由中央建置的警示系統通報地方政府，案例場整個9月份及10月初並未\"\n      },\n      {\n        \"title\": \"攜手川普實現「安倍晉三遺願」高市早苗：雙方重申台海和平重要性\",\n        \"content\": \"美國總統川普（Donald Trump）28日與日本首相高市早苗會面，高市早苗表示，兩人在東京會晤時重申對於推動北韓徹底非核化的承諾，以及台灣海峽和平穩定的重要性，但拒絕就雙方涉及中國的具體討論內容發表評論，因川普即將與中國國家主席習近平會晤。根據路透社及日本放送協會（NHK）報導，川普展開為期6天\"\n      },\n      {\n        \"title\": \"我軍購66架F16V一機未交 國防部：持續促請美方督責廠商加速產製\",\n        \"content\": \"（行政院長卓榮泰28日赴立法院備詢，國民黨立委徐巧芯質疑，美方向台灣出售的66架F16V戰機至今未有一架交機，且目前美方積欠我國軍售品高達6590億元。國防部當晚間回應，針對延宕的「F-16V BLK70」等3案，將持續促請美方，督責廠商加速產製。徐巧芯指稱，美方向台灣出售的66架F16V戰機交貨進度\"\n      },\n      {\n        \"title\": \"館長北京行遇神秘男子！拍照比倒讚耳邊親嗆「一邊一國」　小粉紅火大了 \",\n        \"content\": \"（網紅「館長」陳之漢25日再度前往中國，參加中共舉辦的「台灣光復紀念活動」，訪中第3天，昨日在北京開直播參觀故宮等地，吃完晚餐後遇到一群民眾上前希望合照。一名帶著墨鏡的神祕男子與館長合影時，不僅比出倒讚動作，甚至在拍完照後在館長耳邊說了一句「中國、台灣，一邊一國」，引發聊天室熱議。「館長」陳之漢近來5\"\n      },\n      {\n        \"title\": \"花蓮燕子口堰塞湖壩體溢流擴大恐潰決！林保署急通報下游人車淨空\",\n        \"content\": \"花蓮太魯閣燕子口堰塞湖因持續降挖作業及午後降雨影響，林業及自然保育署花蓮分署28日下午緊急公告表示，壩體原滲流處水量明顯增加，進一步沖刷恐引發壩體破壞或潰決。為防止下游災害擴大，已發布通報單及CBS簡訊，提醒下游民眾與遊客儘速遠離河道，切勿靠近活動。林保署花蓮分署指出，因進行降挖引流工程，加上28日\"\n      }\n    ],\n    \"webhookUrl\": \"https://ellyli3160.zeabur.app/webhook/5fd62aff-22d7-44de-b44a-8cfb02de032f\",\n    \"executionMode\": \"production\"\n  }\n]",
        "height": 400,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1904,
        -176
      ],
      "typeVersion": 1,
      "id": "9325a9af-36f1-4527-9a0e-919474bbc753",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "整理ai agent輸入內容",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "提取標題": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "整理ai agent輸入內容": {
      "main": [
        [
          {
            "node": "是否解析成功",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生成推薦標題": {
      "main": [
        [
          {
            "node": "提取標題",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "是否解析成功": {
      "main": [
        [
          {
            "node": "標題是否通過",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "計數器+",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "標題是否通過": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "彙整資料",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "初始化計數器1": {
      "main": [
        [
          {
            "node": "計數器+",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "計數器+": {
      "main": [
        [
          {
            "node": "生成推薦標題",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "計數器+",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "彙整資料": {
      "main": [
        [
          {
            "node": "初始化計數器1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f26493ae-6d94-4ead-8f8f-4abc068becc4",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-09-17T07:30:55.353Z",
      "updatedAt": "2025-09-17T07:30:55.353Z",
      "role": "workflow:owner",
      "workflowId": "XN79dmNc8yPVm6XU",
      "projectId": "iZydbwsMPJYYjvth",
      "project": {
        "createdAt": "2025-09-16T02:39:54.633Z",
        "updatedAt": "2025-09-16T02:43:19.908Z",
        "id": "iZydbwsMPJYYjvth",
        "name": "common web <web@wanin.tw>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-16T02:39:54.639Z",
            "updatedAt": "2025-09-16T02:39:54.639Z",
            "userId": "55f25be3-69cb-4a61-849e-09b3e6328043",
            "projectId": "iZydbwsMPJYYjvth",
            "user": {
              "createdAt": "2025-09-16T02:39:54.628Z",
              "updatedAt": "2025-11-05T08:31:58.000Z",
              "id": "55f25be3-69cb-4a61-849e-09b3e6328043",
              "email": "web@wanin.tw",
              "firstName": "common",
              "lastName": "web",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-16T02:43:24.324Z",
                "personalization_survey_n8n_version": "1.108.1"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "XN79dmNc8yPVm6XU",
                "userActivated": true,
                "userActivatedAt": 1758096117396,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1761544952978
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-11-05",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}